
// colors
$color-dark-grey:   #767676;
$color-light-grey:  #e5e5e5;
$color-navy-blue:   #002e5d;
$color-white:       #ffffff;

$header-top:        48px;
$header-bottom:     32px;

// fonts
@mixin font-header() {
  font-family: "Vitesee Book";
  font-size: 18px;
}
@mixin font-nav-link() {
  font-family: "Gotham Book";
  font-size: 13px;
}

// general mixins
@mixin border-radius($radius: 0) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
@mixin box-shadow($top, $left, $blur, $color, $inset: "") {
  -webkit-box-shadow: $top $left $blur $color #{$inset};
  -moz-box-shadow: $top $left $blur $color #{$inset};
  box-shadow: $top $left $blur $color #{$inset};
}
@mixin color-scheme($color, $background) {
  background-color: $background;
  color: $color;
}
@mixin flex-row($wrap: nowrap) {
  display: flex;
  flex-direction: row;
  flex-wrap: $wrap;
  justify-content: space-between;
  align-items: center;
}
@mixin text-no-wrap() {
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

// specifics

.byu-header {
  @include font-header();
  height: $header-top + $header-bottom;

  &.no-nav .byu-header-menu,
  &.no-nav .byu-header-menu-button {
    display: none;
  }

  > div > * {
    margin-right: 16px;
  }

  button {
    @include color-scheme($color-white, $color-dark-grey);
    border: none;
    display: inline-block;
    cursor: pointer;
  }

  .byu-header-primary {
    @include color-scheme($color-white, $color-navy-blue);
    @include flex-row();
    padding-left: 16px;
    flex: 1;

    .byu-header-title {
      @include text-no-wrap();
      flex: 1;
    }
  }

  .byu-header-user {

    button {
      background-color: transparent;
      position: relative;
      padding-right: 34px;

      .icon {
        @include border-radius(50%);
        position: absolute;
        top: -4px;
        right: 0;
        display: block;
        width: 16px;
        height: 16px;
        padding: 4px;
        border: 1px solid $color-white;
      }
    }
  }

  .byu-logo {
    background: url(../images/BYU.jpg) no-repeat;
    height: $header-top;
    width: 92px;
  }
}

/* FULL SIZE */
@media (min-width: 1024px) {

  .byu-header {
    @include flex-row(wrap);
    height: $header-top + $header-bottom;

    &.no-nav {
      height: $header-top;
    }

    .byu-header-secondary {
      @include color-scheme($color-white, $color-navy-blue);
      @include flex-row();
      height: $header-top;

      .byu-header-search {
        @include flex-row();

        input {
          border: 1px solid $color-navy-blue;
          border-right: none;
          height: 16px;
          padding: 4px 6px;
          flex: 1;
        }

        button {
          height: 24px;
          width: 30px;
          text-align: center;
        }

      }

      .byu-header-user {

        button {
          padding-right: 34px;
        }
      }

      .byu-header-menu-button {
        display: none;
      }
    }

    .byu-header-menu {
      display: block;
      width: 100%;
      height: $header-bottom;
      background: $color-white;

      ul {
        @include flex-row();
        justify-content: flex-start;
        list-style: none;
        margin: 0 16px;
        padding: 0;

        li {
          display: table;
          width: 16.66%;

          &.selected > * {
            background: $color-light-grey;
          }

          > * {
            @include font-nav-link();
            color: $color-navy-blue;
            height: $header-bottom;
            display: table-cell;
            text-transform: uppercase;
            text-decoration: none;
            vertical-align: middle;
            text-align: center;
            padding: 0 6px;

            &:hover {
              background: $color-light-grey;
            }
          }
        }
      }
    }
  }
}

/* TABLET SIZE */
@media (max-width: 1023px) {
  .byu-header {

    button {
      height: 100%;
      width: 140px;
    }

    &.no-secondary {
      height: $header-top;

      .byu-header-secondary {
        display: none;
      }
    }

    .byu-header-secondary {
      @include color-scheme($color-white, $color-dark-grey);
      @include flex-row();

      > div {
        margin-right: 0;
        height: $header-bottom;
      }

      button {
        border-left: 1px solid $color-white;
      }

      .byu-header-search {
        @include flex-row();
        flex: 1;

        input {
          flex: 1;
          height: $header-bottom - 6px;
          padding-left: 16px;
        }

        button {
          border-left: none;
        }
      }

      .byu-header-user {

        .label {
          display: none;
        }

        .icon {
          top: 50%;
          left: 50%;
          margin-top: -13px;
          margin-left: -13px;
        }

      }

      &.no-search > * {
        flex: 1;

        button {
          width: 100%;
        }

        &.byu-header-user button {
          border-left: none;
        }
      }

    }

    .byu-header-menu {
      display: none;
    }
  }
}

/* PHONE SIZE */
@media (max-width: 639px) {
  .byu-header {

    button {
      width: 100%;
    }

    .byu-header-secondary {

      > * {
        flex: 1
      }

      .byu-header-search {
        @include flex-row();
        flex: 1;

        input {
          display: none;
        }
      }
    }
  }
}