
@import "../shared-styles/colors.scss";
@import "byu-search-common";

byu-search:not(.byu-component-rendered) {
  background: #fff;
  height: 32px;
  margin-right: 30px;
  margin-left: 16px;
  display: flex;
  justify-content: flex-end;
}

// should be 25px height to account for
// added border from searchButton OR
// add border to byu-search
byu-search:not(.byu-component-rendered):after {
  content: " "; // placeholder for search icon
  @include searchButton();
  height: 32px;
  width: 35px;
  float: right;
}

// Helpers for styling search elements.

byu-search input.__byu-search-selected-input {
  @include searchInput();
  @include searchInputPlaceholderRules();
}

byu-search.mobile-view input.__byu-search-selected-input {
  @include searchInputMobile();
}

byu-search {
  input:not(.__byu-search-selected-input), button {
    display: none;
  }
}
