
@import "../shared-styles/colors.scss";
@import "byu-search-common";

byu-search:not(.byu-component-rendered) {
  background: $white;
  width: 216px;
  display: flex;
  justify-content: flex-end;
  order: 2;
  margin: auto 16px;
  height: 27px;
}

byu-search:not(.byu-component-rendered):after {
  @include searchButton();
  float: right;
  height: 27px;
  width: 39px;
  content: url(https://cdn.byu.edu/shared-icons/latest/fontawesome/search-navy.svg);
  padding: 5px 10.5px;
  display: block;
}

// Helpers for styling search elements.

byu-search input.__byu-search-selected-input {
  @include searchInput();
  @include searchInputPlaceholderRules();
}

byu-search.mobile-view input.__byu-search-selected-input {
  @include searchInputMobile();
}

byu-search {
  input:not(.__byu-search-selected-input), button {
    display: none;
  }
}
