@import "byu-search-common";

:host {
  @include byuSearch();
}

#search-icon {
  @include searchIcon();
}

button {
  @include searchButton();
}

#search-form {
  @include searchForm();
}

#search-form #search-container {
  @include searchContainer();
}

#search-form #search-container {
  //Comma-joining these messes up the the placeholder styles
  input {
    @include searchInput();
    @include searchInputPlaceholderRules();
  }
  ::slotted(input) {
    @include searchInput();
  }

  //Comma-joining these doesn't work.
  ::slotted(input::placeholder) {
    @include searchInputPlaceholder();
  }

  ::slotted(input:-ms-input-placeholder) {
    @include searchInputPlaceholder();
  }

  ::slotted(input::-ms-input-placeholder) {
    @include searchInputPlaceholder();
  }

  ::slotted(input::-webkit-input-placeholder) {
    @include searchInputPlaceholder();
  }
}

:host(.mobile-view) {
  @include searchMobile();

  #search-form {
    width: auto;
  }

  #search-form #search-container input,
  #search-form #search-container ::slotted(input) {
    @include searchInputMobile();
  }

  #search-button {
    @include searchButtonMobile();
  }

  #search-icon {
    @include searchIconMobile();
  }
}