@mixin siteSearchSelectedInput
  padding: $spacing3 0.65em
  display: block
  width: 144px
  height: 35px
  line-height: 1.2
  border: 1px solid #fff
  font-family: $font-heading
  font-size: 1rem
  box-sizing: border-box
  border-radius: 0
  margin-bottom: 0
  -webkit-appearance: none // Get ride of 'x' in search input
  -moz-appearance: none

  &::placeholder
    font-family: $font-heading
    opacity: 1
    color: $textgrey !important

  @supports(display: grid)
    @media(min-width: $breakMd)
      padding: 0.4em 1em
      border-radius: 0.9625em
