@import "../shared-styles/colors.scss";

@mixin byuSearch() {
  //display: inline-block;
  margin-left: 20px;
}

@mixin searchIcon() {
  width: 17px;
  height: 14px;
}

@mixin searchButton() {
  background-color: var(--byu-search-color, $medgray);
  border: 1px solid var(--byu-search-color, $medgray);
  color: #FFF;
  width: 30px;
  height: 30px;
  display: flex;
  box-sizing: border-box;
}

@mixin searchForm() {
  display: flex;
  align-items: stretch;
  align-content: center;
}

@mixin searchContainer() {
  flex: 1;
}

@mixin searchContainerInput() {
  padding: 5px 10px;
  border: none;
  height: 30px;
  // Fixes issues on Safari with type=search
  -webkit-appearance: none;
  border-radius: 0;
  margin: 0;
  // END: Safari fixes
  box-sizing: border-box;
}

@mixin searchMobile() {
  width: 100%;
  height: 35px;
  margin: 0;
}

@mixin searchContainerInputMobile() {
  @include searchContainerInput();
  width: 100%;
  height: 35px;
  border-bottom: 1px solid $gray;
}

@mixin searchButtonMobile() {
  width: 53px;
  height: 35px;
  padding: 0 16px;
}

@mixin searchIconMobile() {
  width: 20px;
  height: 20px;
}