@import "../shared-styles/colors.scss";

@mixin byuSearch() {
  display: inline-block;
}

@mixin searchIcon() {
  width: 1em;
  height: 1em;
}

@mixin searchButton() {
  background-color: var(--byu-search-color, $medgray);
  border: 1px solid var(--byu-search-color, $medgray);
  color: #FFF;
  width: 30px;
}

@mixin searchForm() {
  display: flex;
  align-items: stretch;
  align-content: center;
}

@mixin searchContainer() {
  flex: 1;
}

@mixin searchContainerInput() {
  padding: 5px 10px;
  border: none;
}

@mixin searchMobile() {
  width: 100%;
  height: 35px;
}

@mixin searchContainerInputMobile() {
  padding: 5px 10px;
  width: 100%;
  height: 35px;
  border: none;
  border-bottom: 1px solid #c5c5c5;
}

@mixin searchButtonMobile() {
  width: 53px;
  padding: 0 16px;
}

@mixin searchIconMobile() {
  width: 20px;
  height: 20px;
}