@import "../shared-styles/colors.scss";

:host {
  display: inline-block;
}

#search-icon {
  width: 1em;
  height: 1em;
}

button {
  background-color: var(--byu-search-color, $medgray);
  border: 1px solid var(--byu-search-color, $medgray);
  color: #FFF;
  padding-left: 10px;
  padding-right: 10px;
}

form {
  display: flex;
  align-items: stretch;
  align-content: center;
}

form #search-container {
  flex: 1;
}

form #search-container input,
::slotted(input) {
  padding: 5px 10px;
  border: 1px solid var(--byu-search-color, $medgray);
  border-right: none;
}

:host(.mobile-view) {
  width: 100%;
  height: 35px;

  form #search-container input,
  ::slotted(input) {
    padding: 5px 10px;
    border: 1px solid var(--byu-search-color, $medgray);
    border-right: none;
    width: 100%;
    height: 35px;
  }

}