{
  "plugins": ["lit"],
  "extends": ["plugin:lit/recommended"],
  "parser": "@babel/eslint-parser",
  "parserOptions": {
    "requireConfigFile": false,
    "ecmaFeatures": {
      "legacyDecorators": true
    },
    "ecmaVersion": 6
  },
  "env": {
    "browser": true
  }
}
