// blues
$navy: #002E5D;
$xlightblue: #C3DDF9;
$royal: #005EB8;

// grays
$darkgray: #141414;
$medgray: #666;
$gray: #C5C5C5;
$lightgray: #E6E6E6;
$white: #FFF;
$white88: rgba(255, 255, 255, 0.88);