@import "colors.scss";
@import "settings.scss";

@mixin headerLink() {
  text-decoration: none !important;
  font-size: 13px!important;
  font-family: $headerContentFont !important;
  font-weight: $headerContentFontWeight!important;
  text-transform: uppercase!important;
  color: white !important;
  cursor: pointer !important;
}


@mixin navItemHover() {
  background: $gray !important;
}
@mixin navItemSelected() {
  background: $lightgray !important;
}
@mixin navItemLongLink() {
  max-width: 300px;
  flex: 2;
  padding: 0 12px !important;
}
@mixin navItemExtraLongLink() {
  max-width: 400px;
  flex: 3;
  padding: 0 12px !important;
}
@mixin navItem() {
  @include headerLink();
  font-family: $menuFont !important;
  font-weight: $menuFontWeight!important;
  color: $navy !important;
  height: $menuHeight !important;
  display: inline-block;
  box-sizing: border-box;
  text-align: center !important;
  padding: 0 6px !important;
  line-height: $menuHeight !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;

  &:hover {
    @include navItemHover();
  }

  &.selected {
    @include navItemSelected();
  }

  &.long-link {
    @include navItemLongLink();
  }

  &.extra-long-link {
    @include navItemExtraLongLink();
  }
}

@mixin dropdownNavItem() {
  @include navItem();
  display: block;
  //width: 100%;
  box-sizing: border-box;
  padding: 18px 33px !important;
  line-height: 12px;
  text-align: left !important;
  height: auto !important;
}
