@import "colors.scss";
@import "settings.scss";

@mixin headerLink() {
  text-decoration: none !important;
  font-size: 13px!important;
  font-family: $menuFont !important;
  font-weight: 400!important;
  text-transform: uppercase!important;
  color: white !important;
  cursor: pointer !important;
}

@mixin navItem() {
  @include headerLink(); // where is this?
  color: $navy !important;
  height: $menuHeight !important;
  display: table-cell;
  vertical-align: middle !important;
  text-align: center !important;
  padding: 0 6px !important;
}

@mixin dropdownNavItem() {
  @include navItem();
  display: block;
  //width: 100%;
  box-sizing: border-box;
  padding: 18px 30px !important;
  line-height: 12px;
  text-align: left !important;
  height: auto !important;
}
