@import "colors.scss";

/* --- header settings ------- */
$header_height: 55px;
$siteNameFont: "Vitesse A", "Vitesse B", Georgia, serif;

/* --- search settings -------- */
$searchPlaceholderColor: $gray;

// menu settings
$menuHeight: 35px;
$menuFont: "Gotham A", "Gotham B", Helvetica, sans-serif;

/* ---------  general text settings ----- */



/* ------ footer settings ------------- */

$footerButtonColor: $medgray; // change this to one of the colors
$footerButtonFont: "Vitesse A", "Vitesse B", Georgia, serif;

$footerFont: "Gotham A", "Gotham B", Helvetica, sans-serif;
$blueFooterHeight: 80px;
$footerBackground: $lightgray;

$footerContentColor: $medgray;
$footerColumnTitleFont: "Vitesse A", "Vitesse B", Georgia, serif;
$footerContentFont: "Gotham A", "Gotham B", Helvetica, sans-serif;