/*
 * Corner Radius
 */
$cornerRadius: 2px


/*
 * Colors
 */

// Core

$byuNavy: #002e5d
$byuRoyal: #0062B8
$white: #fff

$navy: $byuNavy

$dividerColor: mix(#fff, $byuNavy, 20%)

// Accents

$royal: $byuRoyal
$royal100: $byuRoyal
$royal50: #5199e1
$royal20: #afd6fe

// $royalWeb: #0058A4
// $royalWeb: #136CBA
$royalWeb: #0055af

$yellow: #fcc015
$yellow100: $yellow
$yellow50: #ffda73
$yellow20: #fff0c5

$purple: #500e7c
$purple100: $purple
$purple50: #af88ca
$purple20: #d6bde7

$green: #38870c
$green100: $green
$green50: #94c576
$green20: #cee0c3

$orange: #d8580c
$orange100: $orange
$orange50: #f7a883
$orange20: #ffdacf

$red: #a60318
$red100: $red
$red50: #f5acb6
$red20: #fde3e6

// Grey

$grey90: #141414
$grey70: #666
$grey50: #8f8f8f
$grey30: #c5c5c5
$grey20: #d8d8d8
$grey10: #e6e6e6
$grey05: #f4f4f4
$grey02: #fafafa

// Text colors

$textcolor: $grey90
$textblue: $byuNavy
$textgrey: $grey50
$textwhite: $white

// UI colors

$colorInfo: $royal
$colorInfoLight: $royal20
$colorWarning: $yellow
$colorWarningLight: $yellow20
$colorConfirm: $green
$colorConfirmLight: $green20
$colorDanger: $red
$colorDangerLight: $red20

// Other colors
$colorLine: $grey10
$colorLineDark: $grey30


/*
 * Fonts
 */

// Sizing

$baseFontMultiplier: 1.125
$baseFontSize: 1em * $baseFontMultiplier // 18px

$fontSize14: 0.875em / $baseFontMultiplier
$fontSize15: 0.9375em / $baseFontMultiplier
$fontSize16: 1em / $baseFontMultiplier
$fontSize18: 1.125em / $baseFontMultiplier
$fontSize20: 1.25em / $baseFontMultiplier
$fontSize24: 1.5em / $baseFontMultiplier
$fontSize36: 2.25em / $baseFontMultiplier
$fontSize48: 3em / $baseFontMultiplier
$fontSize64: 4em / $baseFontMultiplier

// Styles

$font-heading: "HCo Ringside Narrow SSm", 'Noto Sans', 'Open Sans', Helvetica, Arial, sans-serif
$font-text: 'Public Sans', 'Noto Sans', 'Open Sans', Helvetica, Arial, sans-serif
$font-mono: 'Noto Mono', 'Roboto Mono', monospace

/*
 * Spacing
 */

$spacing1: 0.25em
$spacing2: 0.5em
$spacing3: 0.75em
$spacing4: 1.25em
$spacing5: 2em
$spacing6: 3.25em
$spacing7: 5.25em
$spacing8: 8.5em




/*
 * Breakpoints
 */

$break0: 0.0625rem // 1px
$breakSm: 21rem // 336px
$breakMdSm: 28rem // 448px
$breakMd: 50rem // 768px
$breakMdLg: 60rem // 960px
$breakLg: 75rem // 1200px
$breakXl: 90rem // 1440px



/*
 * Foundations
 */

%card
  list-style-type: none
  border-radius: 2px
  border: 1px solid $grey10
  box-shadow: 0 4px 8px 0 rgba(0,0,0,.10)
