@import "./mixins.scss";

//byu-footer-action-button:not(:defined) {
byu-footer-action-button:not(.byu-component-rendered) {
    @include footerActionButton();
}

//byu-footer-action-button:not(:defined) > * {
byu-footer-action-button:not(.byu-component-rendered) > * {
    @include footerActionButtonSlotted();
}

//byu-footer-action-button:not(:defined) a {
byu-footer-action-button:not(.byu-component-rendered) a {
    @include footerActionButtonSlottedLink();
}