@import "byu-footer-action-button-common";

:host {
    @include footerActionButton();
}
@media (max-width: 1024px) {
    :host {
        @include mobileFooterActionButton();
    }
}
// Use this to change how the button looks when active
// :host(:active) {
//     -webkit-box-shadow: none;
//     -moz-box-shadow: none;
//     box-shadow: none;
// }

.wrapper ::slotted(*) {
    @include footerActionButtonSlotted();
}

.wrapper ::slotted(a) {
    @include footerActionButtonSlottedLink();
}

.wrapper ::slotted(a:focus) {
    @include footerActionButtonSlottedLinkFocus();
}
