$button_color: #767676;
$button_font: "Vitesse A", "Vitesse B", Georgia, serif;

:host {
    background-color: $button_color;
    font-family: $button_font;
    font-size: 20px !important;
    color: #fff;
    display: inline-block;
    text-align: center;
    line-height: 2.2em;
    height: 45px;
    width: auto;
    min-width: 125px;
    margin: 10px 0 20px 0;
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.35);
}

// Use this to change how the button looks when active
// :host(:active) {
//     -webkit-box-shadow: none;
//     -moz-box-shadow: none;
//     box-shadow: none;
// }

::slotted(*) {
    font-family: $button_font !important;
    font-weight: 400 !important;
    color: #fff !important;
    display: inline-block;
    position: relative;
    height: 100%;
    width: 100%;
    margin: 0 20px;
    left: -20px;
    cursor: pointer;
    vertical-align: middle !important;
}

::slotted(a) {
    text-decoration: none !important;
}