=menuLink
  color: $byuNavy
  display: block
  padding: 0.5em 0.75em
  font-size: 1rem
  transition: background 250ms ease
  text-decoration: none

  @media(min-width: $breakMd)
    display: inline-block

    a, a:link, a:visited
      padding: 0.5em 1.35em
      white-space: nowrap
