@import '../shared-styles/helpers'
@import '../shared-styles/vars'

//********************
// Navigation Menu
//********************


.byu-menu
  margin: 0
  padding: 0
  font-size: $fontSize16
  letter-spacing: 0
  border-top: 1px solid $grey05
  background: #fff

  ::slotted(a), ::slotted(a:link), ::slotted(a:visited)
    color: $byuNavy
    display: block
    padding: 0.5em 0.75em
    font-size: 1rem
    transition: background 250ms ease
    text-decoration: none

    @media(min-width: $breakMd)
      display: inline-block

      a, a:link, a:visited
        padding: 0.5em 1.35em
        white-space: nowrap

  ::slotted(a.active)
    background-color: $grey10

  ::slotted(*:hover), ::slotted(*:focus)
    background: $grey10

  @media(min-width: $breakMdSm)
    padding: 0 0.5em

  @media(min-width: $breakMd)
    padding-left: 5.5em
