<style>
    ${require('./byu-menu.scss')}
</style>
<link type="text/css" rel="stylesheet" href="https://cloud.typography.com/75214/6517752/css/fonts.css" media="all" />

<nav class="outer-nav slot-container needs-width-setting">
    <slot class="byu-menu-items"></slot>
    <div class="byu-menu-more-menu">
        <a href="javascript: void 0" class="byu-menu-more">
            More
            <div class="more-open-button" aria-label="More">
                <!-- More Arrow SVG is the div background. -->
            </div>
        </a>
        <div class="byu-menu-more-items slot-container">
            <slot class="byu-menu-more-slot" name="more"></slot>
        </div>
    </div>
</nav>