@import "byu-menu-common";

byu-menu:not(.byu-component-rendered) {
  @include menuGeneral();
  @include outerNav();
  background-color: #fff;
  color: $navy !important;
  height: $menuHeight;
  justify-content: flex-start;
  order: 3;
  margin-bottom: -5px;
  max-width: 100%;
  flex-basis: 100%;
  a {
    color: $navy !important;
  }
}

byu-menu:not(.byu-component-rendered) > * {
  @include navItemSlotted();
}

byu-menu:not(.byu-component-rendered) > *:nth-child(7),
byu-menu:not(.byu-component-rendered) > *:nth-child(8),
byu-menu:not(.byu-component-rendered) > *:nth-child(9),
byu-menu:not(.byu-component-rendered) > *:nth-child(10),
byu-menu:not(.byu-component-rendered) > *:nth-child(11),
byu-menu:not(.byu-component-rendered) > *:nth-child(12),
byu-menu:not(.byu-component-rendered) > *:nth-child(13),
byu-menu:not(.byu-component-rendered) > *:nth-child(14),
byu-menu:not(.byu-component-rendered) > *:nth-child(15),
byu-menu:not(.byu-component-rendered) > *:nth-child(16),
byu-menu:not(.byu-component-rendered) > *:nth-child(17),
byu-menu:not(.byu-component-rendered) > *:nth-child(18),
byu-menu:not(.byu-component-rendered) > *:nth-child(19),
byu-menu:not(.byu-component-rendered) > *:nth-child(20) {
  display: none;
}