@import "byu-menu-common";

:host {
  @include menuGeneral();
}
// transparent background option
:host(.transparent) {
  @include bgTransparent();
}

.outer-nav {
  @include outerNav();
}

.slot-container ::slotted(*) {
  @include navItemSlotted();
}
.slot-container ::slotted(*:hover) {
  @include navItemHover();
}
.slot-container {
  ::slotted(*.selected), ::slotted(*.active) {
    @include navItemSelected();
  }
}

.byu-menu-more-menu {
  @include moreMenu();

  .byu-menu-more {
    @include moreLink();

    svg {
      @include moreLinkSvg();
    }
  }

  .byu-menu-more-items {
    @include moreItems();

    ::slotted(*) {
      @include moreItemsSlotted();
    }
  }
}

.byu-menu-more-visible .byu-menu-more-menu {
  @include moreMenuVisible();

  &.byu-menu-more-expanded {
    @include menuMoreExpanded();

    .byu-menu-more-items {
      @include menuMoreItems();
    }

    .byu-menu-fixed-overlay {
      @include menuFixedOverlay();
    }
  }
}

/* MOBILE */

:host(.mobile-view) {
  .outer-nav {
    @include mobileOuterNav();
  }

  .byu-menu-more {
    @include mobileMenuMore();
  }

  .slot-container ::slotted(*) {
    @include mobileMenuSlotted();

    &.byu-menu-more-menu {
      @include mobileMenuMoreMenuSlotted();
    }
  }

  .byu-menu-more-menu {
    @include mobileMenuMoreMenu();

    .byu-menu-more-items {
      @include mobileMenuMoreItems();

      ::slotted(*) {
        @include mobileMenuMoreItemsSlotted();
      }
    }

    &.byu-menu-more-expanded {
      @include mobileMenuMoreExpanded();

      .byu-menu-fixed-overlay {
        @include mobileMenuFixedOverlay();
      }
    }
  }
}

:host([left-align]) {
  ::slotted(*) {
    @include navItemsSlottedSetWidth();
  }
}

:host([full-width]) {
  .outer-nav {
    @include outerNavFullWidth();
  }
}