<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="../../bower_components/webcomponentsjs/webcomponents.js"></script>
    <script src="../../dist/components.js"></script>


    <link type="text/css" rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="import" href="../../bower_components/iron-demo-helpers/demo-snippet.html">
    <link type="text/css" rel="stylesheet" href="//cloud.typography.com/75214/6517752/css/fonts.css" media="all" />
    <link type="text/css" rel="stylesheet" href="../../css/site.css">
</head>

<body>
    <byu-header>
        <span slot="title">Templates Demo Site</span>
        <byu-menu slot="nav" collapsed>
            <a href="../../index.html">Home</a>
            <a href="../../components/byu-header/demo.html">Header</a>
            <a class="selected" href="../../components/byu-menu/demo.html">Menu</a>
            <a href="../../components/byu-search/demo.html">Search</a>
            <a href="../../components/byu-user-login/demo.html">User Login</a>
            <a href="../../components/byu-footer/demo.html">Footer</a>
        </byu-menu>
        <byu-search slot="search"></byu-search>
    </byu-header>
    <h1>Menu Demo</h1>
    <div style="margin-bottom: 20px"> This page contains several demos of the menu in the new BYU Header. Note that many of these are incomplete pending further
development.
</div>
<hr>
<div style="margin: 20px">
<h2>Six Links or Less</h2>
<demo-snippet>
    <template>
        <byu-header>
            <span slot="title">Our site.... in the middle of our web.</span>
            <byu-menu slot="nav" collapsed>
                <a class="selected" href="javascript: void 0">Link 1</a>
                <a href="javascript: void 0">Link 2</a>
                <a href="javascript: void 0">Link 3</a>
                <a href="javascript: void 0">Link 4</a>
                <a href="javascript: void 0">Link 5</a>
                <a href="javascript: void 0">Link 6</a>
            </byu-menu>
        </byu-header>
        <div style="margin: 10px"> Here we have some content so you can see what that might look like.
</div>
</template>
</demo-snippet>



<h2>More than Six Links</h2>
<demo-snippet>
    <template>
        <byu-header>
            <span slot="title">Our site.... in the middle of our web.</span>
            <byu-menu slot="nav" collapsed>
                <a class="selected" href="javascript: void 0">Link 1</a>
                <a href="javascript: void 0">Link 2</a>
                <a href="javascript: void 0">Link 3</a>
                <a href="javascript: void 0">Link 4</a>
                <a href="javascript: void 0">Link 5</a>
                <a href="javascript: void 0">Link 6</a>
                <a href="javascript: void 0">Link 7</a>
                <a href="javascript: void 0">Link 8</a>
                <a href="javascript: void 0">Link 9</a>
                <a href="javascript: void 0">Link 10</a>
            </byu-menu>
        </byu-header>
        <div style="margin: 10px"> Here we have some content so you can see what that might look like.
</div>
</template>
</demo-snippet>
</div>
<footer>
    <byu-footer></byu-footer>
</footer>
</body>

</html>