@import "../shared-styles/colors.scss";
@import "../shared-styles/settings.scss";
@import "../shared-styles/nav";

:host {
  @include menuGeneral();
}

.outer-nav {
  @include outerNav();
}

.inner-nav {
  @include innerNav();
}

::slotted(*) {
@include menuSlotted();
}

.extra-links, ::slotted(*) {
  @include includeNavItem();
}

:host(:not(.mobile-view)) {
  .extra-links:hover, ::slotted(*:hover) {
    @include menuNotMobileHover();
  }

  ::slotted(*.selected) {
    @include menuNotMobileSelected();
  }
}

.extra-links {
  @include extraLinks();

  .extra-links-dropdown {
    @include extraLinks();

    // display: block;

    ul {
      @include extraLinksDropdownUl();
    }
  }

  &:hover .extra-links-dropdown {
    @include hoverExtraLinksDropdown();
  }
}

:host(.mobile-view) {
  .outer-nav {
    @include outerNavMobile();
  }
  .inner-nav {
    @include innerNavMobile();
  }
  #menu-slot {
    @include menuSlot();
  }

  ::slotted(*) {
    @include menuSlotted();
  }

}

// transparent background option
:host(.transparent) {
  .outer-nav {
    @include outerNavTransparent();

  }
}

//@media (min-width: 1024px) {
//    /* Hide any menu elements not in the first six. We'll use javascript to duplicate them and
//    stick them in a separate dropdown that gets hidden for mobile views */
//    ::slotted(*:nth-child(n+7)) {
//        display: none;
//    }
//}
//
//@media (max-width: 1023px) {
//    nav.outer-nav {
//        display: none;
//    }
//}