@import "../shared-styles/colors.scss";
@import "../shared-styles/settings.scss";
@import "../shared-styles/nav.scss";
@import "./mixins.scss";

:host {
  @include menuGeneral();
}
// transparent background option
:host(.transparent) {
    @include bgTransparent();
}

.outer-nav {
  @include outerNav();
}

::slotted(*) {
  @include navItemSlotted();
}
::slotted(*:hover) {
  @include navItemHover();
}
::slotted(*.selected) {
  @include navItemSelected();
}
::slotted(*.long-link) {
  @include navItemLongLink();
}
::slotted(*.extra-long-link) {
  @include navItemExtraLongLink();
}


.byu-menu-more-menu {
  @include moreMenu();

  .byu-menu-more {
    @include moreLink();

    svg {
      @include moreLinkSvg();
    }
  }

  .byu-menu-more-items {
    @include moreItems();

    ::slotted(*) {
      @include moreItemsSlotted();
    }
  }
}

.byu-menu-more-visible .byu-menu-more-menu {
  @include moreMenuVisible();
}

:host(.mobile-view) {
  @include mobileHost();

}