<style>
    /* FUSE */
</style>
<link type="text/css" rel="stylesheet" href="https://cloud.typography.com/75214/6517752/css/fonts.css" media="all" />

<nav class="outer-nav">
    <div class="inner-nav">
        <slot id="slot"></slot>
        <div class="extra-links" id="extraLinks">
            More
            <div class="extra-links-dropdown">
                <ul id="extraLinksDropdown"></ul>
            </div>
        </div>
    </div>
</nav>
<div class="navbar-collapse">
    <nav class="secondary-nav"></nav>
</div>
<div id="stylePlaceHolder"></div>