<byu-top-bar>
  <span slot=title>My Title</span>
  <span slot=subtitle on-top>My Subtitle</span>

  <!-- Variants on the search bar -->
  <form slot=search action="">
    <byu-search url-pattern="example.com/search?q=$" google-site-search-key="" options="" autocomplete-timeout="500">
      <input placeholder="My Text" />
    </byu-search>
  </form>

  <byu-search slot=search url-pattern="example.com/search?q=$" google-site-search-key="" options="" autocomplete-timeout="500">
    <input placeholder="My Text" />
  </byu-search>

  <byu-search slot=search url-pattern="example.com/search?q=$" google-site-search-key="" placeholder="My Text"></byu-search>

  <byu-search slot=search placeholder="My Text" on-search="myFunction"></byu-search>

  <!-- Only one of these should be displayed at any time -->
  <byu-user-login slot="action" login-url="/login"></byu-user-login>
  <byu-user-menu slot="action" name="Joe Student" logout-url="/logout">
    <a href="#">Link</a>
  </byu-user-menu>

  <byu-nav-bar slot=nav>
    <a href="#">Link 1</a>
    <a href="#">Link 2</a>
    <a href="#">Link 3</a>
  </byu-nav-bar>
</byu-top-bar>
