@import "../shared-styles/colors.scss";
@import "../shared-styles/settings.scss";

$universityFooterBgColor: $navy;
$universityFooterTextColor: white;
$universityFooterFont: "Gotham A", "Gotham B", Helvetica, sans-serif;
$universityFooterFontWeight: 400;
$universityFooterHeight: 80px;

$universityFooterLogoHeight: 40px;
$universityFooterLogoWidth: 450px;
$universityFooterLogoVerticalOffset: 10px;

$universityFooterVerticalPadding: 21px;

$siteFooterHorizontalPadding: 8px;
$siteFooterVerticalPadding: 0;
$siteFooterPadding: $siteFooterVerticalPadding $siteFooterHorizontalPadding;

$siteFooterMobilePadding: 16px $siteFooterHorizontalPadding 0;

$large-siteFooterContentTopMargin: 30px;
$large-siteFooterContentBottomMargin: 40px;

$large-siteFooterContentMargin: $large-siteFooterContentTopMargin $siteFooterHorizontalPadding $large-siteFooterContentBottomMargin;

$siteFooterBackground: $lightgray;
$siteFooterContentColor: $darkgray;
$siteFooterColumnTitleFont: "Vitesse A", "Vitesse B", Georgia, serif;
$siteFooterContentFont: "Gotham A", "Gotham B", Helvetica, sans-serif;
$siteFooterContentFontWeight: 400;
$siteFooterContentFontSize: 13px;

