@import "../shared-styles/colors.scss";
@import "../shared-styles/settings.scss";

@mixin blueFooter() {
  background-color: $navy;
  text-align: center;
  font-family: $blueFooterFont;
  font-weight: $blueFooterFontWeight;
  font-size: 12px;
  color: white;
  height: $blueFooterHeight;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}
@mixin blueFooterLinks() {
  text-decoration: none;
  color: #fff;
}
@mixin blueFooterLinksHover() {
  //text-decoration: none;
  color: #fff;
}

@mixin footerInnerWrapper() {
  max-width: 1200px;
  margin-top: -10px;
}

@mixin footerInnerWrapperFullWidth() {
  max-width: 100%;
}

@mixin universityLogo() {
  width: 450px;
  max-width: 100vw;
  box-sizing: border-box;
  margin-bottom: -10px;
  height: 40px;
}

@mixin secondaryFooter() {
  height: auto;
  background-color: $footerBackground;
  text-align: center;
  display: flex;
  justify-content: center;
  flex: 1;
}

@mixin secondaryFooterContent() {
  width: 1200px !important;
  padding: $pageContentPadding;
  box-sizing: border-box;
}

@mixin secondaryFooterContentFullWidth() {
  width: 100%;
}

@mixin secondaryFooterSlotted() {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

@mixin secondaryFooterMobile() {
  width: 100%;
}

@mixin secondaryFooterMobileLast() {
  padding-bottom: 30px;
}

@mixin secondaryFooterMobileFirst() {
  padding-top: 10px;
}

@mixin secondaryFooterTablet() {
  width: 50%;
}

@mixin secondaryFooterTabletBottomColumns() {
  padding-bottom: 30px;
}

@mixin secondaryFooterTabletTopColumns() {
  padding-top: 10px;
}

@mixin secondaryFooterDesktop() {
  width: 25%;
  padding-top: 10px;
  padding-bottom: 30px;
}

@mixin secondaryFooterNoLeftPad() {
  padding-left: 0 !important;
}

@mixin secondaryFooterNoRightPad() {
  padding-right: 0 !important;
}

@mixin contactPhone() {
  white-space: nowrap;
}