@import "byu-footer-common";

.university-footer {
  background-color: $universityFooterBgColor;
  text-align: center;
  font-family: $universityFooterFont;
  font-weight: $universityFooterFontWeight;
  font-size: 12px;
  color: $universityFooterTextColor;
  width: 100%;

  padding: $universityFooterVerticalPadding 0;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  a {
    color: $universityFooterTextColor;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.university-logo-wrapper {
  max-width: 1200px;
  width: 100%;
  padding: 0 8px;
}

.university-logo {
  max-width: 100%;
  width: $universityFooterLogoWidth;
  height: $universityFooterLogoHeight;
  margin: -$universityFooterLogoVerticalOffset 0;
}

.university-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  > :not(:first-of-type) {
    margin-top: 0.25em;
  }
}

@media (min-width: 425px) {
  .university-info {
    flex-direction: row;
    > :not(:first-of-type) {
      margin-top: 0;
      &::before {
        display: inline-block;
        color: white;
        content: '|';
        text-align: center;
        width: 1em;
      }
    }
  }
}

.site-footer-wrapper {
  background-color: $siteFooterBackground;
}

.site-footer {
  margin: 0 auto;
  height: auto;
  box-sizing: border-box;
  padding: $siteFooterPadding;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  ::slotted(*) {
    flex-grow: 1;
    margin: 0 $siteFooterPadding;
  }

  ::slotted(.double-wide) {
    flex-grow: 2;
  }

  ::slotted(.triple-wide) {
    flex-grow: 3;
  }
}

$calcSubtractWidth: $siteFooterHorizontalPadding * 2;

@media (min-width: 600px) {
  .site-footer {
    flex-direction: row;

    ::slotted(*) {
      //min-width: 250px - 8px;
      width: calc(50% - #{$calcSubtractWidth});
    }

    ::slotted(.double-wide) {
      width: calc(100% - #{$calcSubtractWidth});
    }

    ::slotted(.triple-wide) {
      width: calc(100% - #{$calcSubtractWidth});
    }
  }
}

$columnBaseWidth: 20%;

@media (min-width: 1024px) {
  .site-footer {
    flex-wrap: nowrap;

    ::slotted(*) {
      width: calc(#{$columnBaseWidth} - #{$calcSubtractWidth});
      margin: $large-siteFooterContentMargin;
    }

    ::slotted(.double-wide) {
      width: calc(#{$columnBaseWidth * 2} - #{$calcSubtractWidth});
    }

    ::slotted(.triple-wide) {
      width: calc(#{$columnBaseWidth * 3} - #{$calcSubtractWidth});
    }

    ::slotted(*:first-child) {
      margin-left: 0;
    }
    ::slotted(*:last-child) {
      margin-right: 0;
    }
  }
}


