@import "../shared-styles/colors.scss";
@import "../shared-styles/settings.scss";

$universityFooterBgColor: $navy;
$universityFooterTextColor: white;
$universityFooterFont: 'HCo Ringside Narrow SSm', Arial Narrow, Arial, sans-serif;
$universityFooterFontWeight: 500;
$universityFooterHeight: 80px;

$universityFooterLogoHeight: 40px;
$universityFooterLogoWidth: 390px;
$universityFooterLogoVerticalOffset: 10px;

$universityFooterLogoMobileWidth: 280px;


$universityFooterVerticalPadding: 21px;

$siteFooterHorizontalPadding: 8px;
$siteFooterVerticalPadding: 0;
$siteFooterPadding: $siteFooterVerticalPadding $siteFooterHorizontalPadding;

$siteFooterMobilePadding: 16px $siteFooterHorizontalPadding 0;

$large-siteFooterContentTopMargin: 33px;
$large-siteFooterContentBottomMargin: 40px;

$large-siteFooterContentMargin: $large-siteFooterContentTopMargin 8px $large-siteFooterContentBottomMargin;

$siteFooterBackground: $lightgray;
$siteFooterContentColor: $darkgray;
$siteFooterColumnTitleFont: 'HCo Ringside Narrow SSm', Arial Narrow, Arial, sans-serif;
$siteFooterContentFont: 'HCo Ringside Narrow SSm', Arial Narrow, Arial, sans-serif;
$siteFooterContentFontWeight: 400;
$siteFooterContentFontSize: 13px;

