
@import "./mixins.scss";

//byu-footer:not(:defined) {
byu-footer:not(.byu-component-rendered) {
  background: $lightgray;
  min-height: 200px;
  display: flex;
  width: 100%;
  font-family: sans-serif;
  font-weight: 600;
  flex-wrap: wrap;
  padding-top: 30px;
  justify-content: space-around;

  &:empty {
    min-height: 0;
    padding: 0;
  }
}

//byu-footer:not(:defined):after {
byu-footer:not(.byu-component-rendered):after {
  @include blueFooter();
  content: "BRIGHAM YOUNG UNIVERSITY";
  //background: $navy;
  //color: white;
  //width: 100%;
  //height: 80px;
  display: flex;
  //font-size: 20px;
  justify-content: center;
  align-items: center;
  position: relative;
  //top: 200px;
  font-weight: 100;
  font-size: 22px;
  letter-spacing: 2px;
  font-family: serif;
}



//@media (max-width: 767px) {
//  .secondary-footer byu-footer-column {
//    @include secondaryFooterMobile();
//  }
//
//  .secondary-footer byu-footer-column:last-child {
//    @include secondaryFooterMobileLast();
//  }
//
//  .secondary-footer byu-footer-column:first-child {
//    @include secondaryFooterMobileFirst();
//  }
//}
//
//@media (min-width: 768px) and (max-width: 1199px) {
//  .secondary-footer byu-footer-column {
//    @include secondaryFooterTablet();
//  }
//
//  .secondary-footer byu-footer-column:nth-child(n+3) {
//    @include secondaryFooterTabletBottomColumns();
//  }
//
//  .secondary-footer byu-footer-column:nth-child(-n+2) {
//    @include secondaryFooterTabletTopColumns();
//  }