
@import "byu-footer-common";

byu-footer:not(.byu-component-rendered) {
  background: $lightgray;
  min-height: 200px;
  display: flex;
  width: 100%;
  font-family: sans-serif;
  font-weight: 600;
  flex-wrap: wrap;
  padding-top: 30px;
  justify-content: space-around;

  &:empty {
    min-height: 0;
    padding: 0;
  }
}

byu-footer:not(.byu-component-rendered):after {
  background: $navy url('https://cdn.byu.edu/shared-icons/latest/logos/word-mark-wide-white.svg') no-repeat center 11px;
  background-size: 450px 40px;
  height: 90px;
  width: 100vw;
  content: ' ';
  display: flex;
  justify-content: center;
  align-items: center;
}
