$byu_blue: #002e5d;
$footer_font: "Gotham A", "Gotham B", Helvetica, sans-serif;
$blue_footer_height: 80px; 
$footer_gray: #e6e6e6;

.blue-footer {
  background-color: $byu_blue;
  text-align: center;
  font-family:$footer_font;
  font-weight: 400;
  font-size: 12px;
  color: white;
  height: $blue_footer_height;
  display: table;
  width: 100%;
}

.inner-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.university-logo {
  width: 380px;
  height: 33.6px;
}

.secondary-footer {
  max-height: 295px;
  background-color: $footer_gray;
  text-align: center;
  // padding: 25px 10%;

  .column {
    width: 20%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
  }

}