$byu_blue: #002e5d;
$footer_font: "Gotham A", "Gotham B", Helvetica, sans-serif;
$blue_footer_height: 80px; 
$footer_gray: #e6e6e6;

.blue-footer {
  background-color: $byu_blue;
  text-align: center;
  font-family:$footer_font;
  font-weight: 400;
  font-size: 12px;
  color: white;
  height: $blue_footer_height;
  display: table;
  width: 100%;
}

.inner-wrapper {
  display: table-cell;
  vertical-align: middle;
}

.university-logo {
  width: 380px;
  height: 33.6px;
}

.secondary-footer {
  height: auto;
  background-color: $footer_gray;
  text-align: center;
}

.secondary-footer ::slotted(*) {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

@media (max-width: 767px) {
  .secondary-footer ::slotted(*) {
    width: 80%;
  }

  .secondary-footer ::slotted(*:last-child) {
    padding-bottom: 30px;
  }

  .secondary-footer ::slotted(*:first-child) {
    padding-top: 10px;
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .secondary-footer ::slotted(*) {
    width: 40%;
  }

  .secondary-footer ::slotted(*:nth-child(n+3)) {
    padding-bottom: 30px;
  }

  .secondary-footer ::slotted(*:nth-child(-n+2)) {
    padding-top: 10px;
  }
}

@media (min-width: 1200px) {
  .secondary-footer ::slotted(*) {
    width: 20%;
    padding-top: 10px;
    padding-bottom: 30px;
  }
}

