@import "./mixins.scss";

.blue-footer {
  @include blueFooter();
  a {
    @include blueFooterLinks();
  }
  a:hover {
    @include blueFooterLinksHover();
  }
}

.inner-wrapper {
  @include footerInnerWrapper();
}

.university-logo {
 @include universityLogo();
}

.secondary-footer {
  @include secondaryFooter();
}

.secondary-footer ::slotted(*) {
  @include secondaryFooterSlotted();
}

@media (max-width: 767px) {
  .secondary-footer ::slotted(*) {
    @include secondaryFooterMobile();
  }

  .secondary-footer ::slotted(*:last-child) {
    @include secondaryFooterMobileLast();
  }

  .secondary-footer ::slotted(*:first-child) {
    @include secondaryFooterMobileFirst();
  }
}

@media (min-width: 768px) and (max-width: 1199px) {
  .secondary-footer ::slotted(*) {
    @include secondaryFooterTablet();
  }

  .secondary-footer ::slotted(*:nth-child(n+3)) {
    @include secondaryFooterTabletBottomColumns();
  }

  .secondary-footer ::slotted(*:nth-child(-n+2)) {
    @include secondaryFooterTabletTopColumns();
  }
}

@media (min-width: 1200px) {
  .secondary-footer ::slotted(*) {
    @include secondaryFooterDesktop();
  }
}