<style>
    ${require('./style.scss')}
</style>
<div class="secondary-footer">
    <div class="secondary-footer-content">
        <slot id="slot"></slot>
    </div>
</div>
<div class="blue-footer">
    <div class="inner-wrapper">
        <a href="https://home.byu.edu/home/" target="_blank"><img src='./footer-logo.svg' alt="Brigham Young University" class="university-logo"></a>
        <div class="copyright-contact">&copy;
            <span id="currentYear"></span> All Rights Reserved | Provo, UT 84602, USA | <a href="tel:18014224636">801-422-4636</a></div>
    </div>
</div>
  