<style>
    ${require('./style.scss')}
</style>
<div class="secondary-footer">
    <slot class="column" name="col1"></slot>
    <slot class="column" name="col2"></slot>
    <slot class="column" name="col3"></slot>
    <slot class="column" name="col4"></slot>
</div>
<div class="blue-footer">
    <div class="inner-wrapper">
        <img src="./footer-logo.svg"
             alt="Brigham Young University"
            class="university-logo">
        <div class="copyright-contact">&copy;
            <span id="currentYear"></span> All Rights Reserved | Provo, UT 84602, USA | 801.422.4636</div>
    </div>
</div>