<style>
    ${require('./byu-user-info.scss')}
</style>

<div class="byu-user-wrapper">
    <div class="no-user slot-wrapper">
        <div class="user-info-image">
            <!-- User info icon is div background -->
        </div>
        <span class="text slot-wrapper">
            <slot name="login">Sign In</slot>
        </span>
    </div>
    <div class="has-user">
        <span class="name slot-wrapper"> 
            <slot name="user-name" id='user-name'></slot>
        </span>
        <div class="user-info-image">
            <!-- User info icon is div background -->
        </div>
        <span class="logout slot-wrapper">
            <slot name="logout">Sign Out</slot>
        </span>
    </div>
</div>