<style>
    ${require('./byu-user-info.scss')}
</style>

<div class="byu-user-wrapper">
    <div class="no-user slot-wrapper">
        <img class="not-mobile" src="https://cdn.byu.edu/shared-icons/latest/fontawesome/user-circle-o-white.svg">
        <img class="mobile" src="https://cdn.byu.edu/shared-icons/latest/fontawesome/user-circle-o-navy.svg">
        <span class="text slot-wrapper">
            <slot name="login">Sign In</slot>
        </span>
    </div>
    <div class="has-user">
        <span class="name slot-wrapper"> 
            <slot name="user-name" id='user-name'></slot>
        </span>
        <img class="not-mobile" src="https://cdn.byu.edu/shared-icons/latest/fontawesome/user-circle-white.svg">
        <img class="mobile" src="https://cdn.byu.edu/shared-icons/latest/fontawesome/user-circle-navy.svg">
        <span class="logout slot-wrapper">
            <slot name="logout">Sign Out</slot>
        </span>
    </div>
</div>