@import "byu-user-info-common";


//byu-user-info:not(:defined) > * {
byu-user-info:not(.byu-component-rendered) > * {
  @include userInfoSlotted();
}

byu-user-info:not(.byu-component-rendered) [slot=user-name] {
  color: #c3ddf9!important;
}

/* NON MOBILE */
//byu-user-info:not(:defined):not([mobile-view]) {
byu-user-info:not(.byu-component-rendered):not([mobile-view]) {
  @include userInfoNotMobile();
  order: 1;

  & > * {
    @include userInfoNotMobileSlotted();
  }

  .mobile {
    @include userInfoNotMobileDisplay();
  }

  img {
    @include userInfoNotMobileImages();
  }
}

/* MOBILE */
//byu-user-info:not(:defined)[mobile-view] {
//  @include userInfoMobile();
//
//  .not-mobile {
//    @include userInfoMobileDisplay();
//  }
//
//  .has-user {
//
//    .name {
//      @include hasUserName();
//    }
//
//    img {
//      @include hasUserImage();
//    }
//
//    .logout {
//      @include hasUserLogout();
//    }
//  }
//
//  & > * {
//    @include mobileSlotted();
//  }