@import "../shared-styles/nav.scss";
@import "../shared-styles/colors.scss";

@mixin nonMobileUserImage() {
  background-image: url('https://cdn.byu.edu/shared-icons/latest/fontawesome/user-circle-o-white.svg');
}

@mixin mobileUserImage() {
  background-image: url('https://cdn.byu.edu/shared-icons/latest/fontawesome/user-circle-o-navy.svg')
}

@mixin userInfoImage() {
  height: 20px;
  width: 20px;
  margin: 5px 11px 5px 5px;
  background-size: contain;
}

@mixin userInfoSlotted() {
  @include headerLink();
}

@mixin userPresent() {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@mixin centeredText() {
  display: flex;
  align-items: center;
}

/* NON MOBILE */
@mixin userInfoNotMobile() {
  color: white;
}

@mixin userInfoNotMobileSlotted() {
  @include headerLink();
}

@mixin userInfoNotMobileDisplay() {
  display: none;
}
@mixin nonMobileUsername() {
  color: $xlightblue !important;
  text-transform: uppercase !important;
  max-width: 130px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

@mixin nonMobileHeaderLinkHover() {
  text-decoration: underline !important;
}

@mixin userInfoNotMobileImages() {
  margin: 7px;
}

/* MOBILE */
@mixin userInfoMobile() {
  @include dropdownNavItem();
  border-bottom: solid 1px $gray;
  padding: 10px 14px !important;
  background-color: $white !important;
  line-height: 12px !important;
}

@mixin userInfoMobileNotDisplay() {
  display: none;
}

@mixin hasUserName() {
  order: 2;
  flex: 1;
}

@mixin hasUserNameSlotted() {
  text-transform: capitalize !important;
  color: $xlightblue !important;
}

/* @mixin hasUserImage() {
  order: 1;
  margin: 0 !important;
  padding: 0 14px 0 0 !important;
} */

/* @mixin noUserImage() {
  margin: 0 !important;
  padding: 0 14px 0 0 !important;
} */

@mixin hasUserLogout() {
  order: 3;
}

@mixin mobileSlotted() {
  color: $navy !important;
}

@mixin notHasUserMobile() {
  display: none;
}

@mixin noUserMobile() {
  display: none;
}