<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="../../bower_components/webcomponentsjs/webcomponents.js"></script>
    <script src="../../dist/components.js"></script>


    <link type="text/css" rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="import" href="../../bower_components/iron-demo-helpers/demo-snippet.html">
    <link type="text/css" rel="stylesheet" href="//cloud.typography.com/75214/6517752/css/fonts.css" media="all" />
    <link type="text/css" rel="stylesheet" href="../../css/site.css">
    <style>
        .fake-header {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            width: 100%;
            background-color: #002e5d;
            height: 48px;
            padding: 8px;
            box-sizing: border-box;
        }
    </style>
</head>

<body>
    <byu-header>
        <span slot="title">Templates Demo Site</span>
        <byu-menu slot="nav" collapsed>
            <a href="../../index.html">Home</a>
            <a href="../../components/byu-header/demo.html">Header</a>
            <a class="selected" href="../../components/byu-menu/demo.html">Menu</a>
            <a href="../../components/byu-search/demo.html">Search</a>
            <a href="../../components/byu-user-info/demo.html">User Login</a>
            <a href="../../components/byu-footer/demo.html">Footer</a>
        </byu-menu>
        <byu-search slot="search"></byu-search>
    </byu-header>
    <h1>Simple Setup</h1>
    <demo-snippet>
        <template>
            <div class="fake-header">
                <byu-user-info login-url="#login"></byu-user-info>
            </div>
        </template>
    </demo-snippet>

    <h1>Progressive Enhancement</h1>
    <demo-snippet>
        <template>
            <div class="fake-header">
                <byu-user-info><a href="#hi">Sign In</a></byu-user-info>
            </div>
        </template>
    </demo-snippet>

    <h1>Handle Via Javascript</h1>
    <demo-snippet>
        <template>
            <div class="fake-header">
                <byu-user-info onclick="alert('Clicked Login!')"></byu-user-info>
</div>
</template>
</demo-snippet>


<footer>
    <byu-footer></byu-footer>
</footer>

</body>

</html>