@import "../shared-styles/nav.scss";
@import "../shared-styles/colors.scss";

@mixin userInfoImages() {
  height: 20px;
  width: 20px;
  margin: 5px;
}

@mixin userInfoSlotted() {
  @include headerLink();
}

@mixin userPresent() {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* NON MOBILE */
@mixin userInfoNotMobile() {
  color: white;
}

@mixin userInfoNotMobileSlotted() {
    @include headerLink();
}

@mixin userInfoNotMobileDisplay() {
    display: none;
}

@mixin userInfoNotMobileImages() {
    margin: 5px;
}

/* MOBILE */
@mixin userInfoMobile() {
  @include dropdownNavItem;
  padding-left: 0 !important;
}

@mixin userInfoMobileDisplay() {
    display: none;
}

@mixin hasUserName() {
  order: 2;
  flex: 1
}

@mixin hasUserImage() {
  order: 1;
  margin: 5px;
}

@mixin hasUserLogout() {
  order: 3;
}

@mixin mobileSlotted() {
  color: $navy !important;
}

@mixin notHasUserMobile() {
    display: none;
}

@mixin noUserMobile() {
  display: none;
}