@import "./mixins.scss";

img {
  @include userInfoImages();
}

::slotted(*) {
  @include userInfoSlotted();
}

.has-user, .no-user {
  @include userPresent();
}

/* NON MOBILE */
:host(:not([mobile-view])) {
  @include userInfoNotMobile();

  // this was removed in master, leaving as a comment in case it is needed later
  //::slotted(*) {
  //  @include userInfoNotMobileSlotted();
  //}

  .mobile {
    @include userInfoNotMobileDisplay();
  }
  // underline on hover for any link - sign in, sign out, username if linked, 
  // idk how to tell it to hover if linking in a different way than with an a tag
  ::slotted(a:hover) {
      @include nonMobileHeaderLinkHover();
    }
  .has-user {

    #user-name::slotted(*) {
      @include nonMobileUsername();
    }
  }
  img {
    @include userInfoNotMobileImages();
  }
}

/* MOBILE */
:host([mobile-view]) {
  @include userInfoMobile();

  .not-mobile {
    @include userInfoNotMobileDisplay();
  }

  .has-user {

    .name {
      @include hasUserName();
    }

    img {
      @include hasUserImage();
    }

    .logout {
      @include hasUserLogout();
    }
  }

  ::slotted(*) {
    @include mobileSlotted();
  }
}

:host(:not([has-user])) {
  .has-user {
    @include notHasUserMobile();
  }
}

:host([has-user]) {
  .no-user {
    @include noUserMobile();
  }
}