<style>
    ${require('./style.scss')}
</style>

<div class="no-user">
    <!--There are better ways to do this, but they require some work. This'll do for now.-->
    <img class="not-mobile" src="./icons/user-circle-o-white.svg">
    <img class="mobile" src="./icons/user-circle-o-darkblue.svg">
    <span class="text">
            <slot name="login"></slot>
        </span>
</div>
<div class="has-user">
    <span class="name">
        <slot name="user-name"></slot>
    </span>
    <img class="not-mobile" src="./icons/user-circle-filled-white.svg">
    <img class="mobile" src="./icons/user-circle-filled-darkblue.svg">
    <a class="logout">
        <slot name="logout"></slot>
    </a>
</div>

