@import "byu-header-common";

/* GENERAL STYLING */
.byu-header-actions {

  @include actionsWrapper();

  ::slotted(*) {
      @include actions();
  }
} 
.byu-header-root {
  @include headerRoot();
  @include headerDefaultFont();

  .byu-header-content {
    @include headerContent();
  }

  img.byu-logo {
    @include headerLogoMargin();
  }

  button {
    @include headerButton();
  }

  .byu-header-primary {
    @include headerPrimary();
    .byu-header-title {
      @include headerTitles();
        
      ::slotted(*) {
        @include titleSlotted();
        @include headerSiteTitle();
      }

      ::slotted(.subtitle) {
        @include headerSubTitle();
      }
      ::slotted(.subtitle:first-child) {
        @include headerSuperTitle();
      }
    } 

    .byu-header-user {
      button {
        @include headerUserButton();

        .icon {
          @include headerUserIcon();
        }
        .label {
          @include headerUserLabel();
        }
      }
    }

    .byu-header-search {
      #search-input {
        @include searchInput();

        &::-webkit-input-placeholder {
          @include searchWebkitPlaceholder();
        }
        &::-ms-input-placeholder {
          @include searchMicrosoftPlaceholder();
        }
        &::-moz-placeholder {
          @include searchMozillaPlaceholder();
        }
      }
    }

    .byu-logo, .byu-logo-link {
      @include byuLogo();
    }
  }
}
.menu-outer-wrapper {
  border-bottom: 1px solid #ccc;
}

.menu-inner-wrapper {
  margin: 0 auto;
  padding: $pageContentPadding;
  box-sizing: border-box;
}

:host(.below-max-width) {
  .menu-inner-wrapper {
    padding: 0;
  }
}

/* MOBILE */
#mobileMenu {
  @include mobileMenu();
  @include mobileMenuOverflow();
}

:host([mobile-view]) {
  .byu-header-root { // needed to give correct precedence in Firefox

    .byu-header-content {
      @include mobileHeaderContent();
    }
    .byu-logo {
      @include mobileLogoAlign();
    }
    .byu-header-primary {
      @include mobileHeaderPrimary();
      @include mobileHeaderAlign();
    }

    .byu-header-actions {
      @include actionsMobile();

      ::slotted(*) {
        @include actionsMobileSlotted();
      }
    }

    #actions a {
      @include mobileActionsLinks();
    }

    #actions p {
      @include mobileActionsLinksP();
    }

    .byu-header-actions ::slotted(*) {
      @include actionsMobileSlotted();
    }

    & > div > :not(.byu-logo) {
      @include headerInnerMarginMobile();
    }
    .byu-header-title {
      @include mobileSiteTitle();

      ::slotted(*) {
        @include mobileSiteTitleSlotted();
      }

      ::slotted(.subtitle) {
        @include mobileSubTitle();  
      }

      ::slotted(.subtitle:first-child) {
        @include mobileSuperTitle();  
      }
    }
    button {
      &.mobile-menu-button {
        @include headerButtonMobile();
      }
    }
  }
}

:host([no-menu]) .mobile-menu-button {
  display: none;
}

:host([mobile-view]) .byu-header-search {
  transition: transform 0.5s ease-in-out;
  transform: scaleY(1);
}

:host([menu-open][mobile-view]) .byu-header-search {
  transform: scaleY(0);
}


/* FULL SIZE */
:host(:not([mobile-view])) {
  .byu-header-root {
    @include headerNotMobile();

    .byu-header-actions ::slotted(*) {
      @include actionsNotMobile();
    }

    .byu-header-actions a {
      @include actionsNotMobileLinks();
    }

    &.no-nav {
      @include headerNotMobileNoNav();
    }
    .nav-expand {
      @include headerNotMobileNavExpand();
    }
    .byu-header-secondary {
      @include headerSecondaryNotMobile();

      .byu-header-search {
        @include searchNotMobile();

        input {
          @include searchInputNotMobile();
        }
        button {
          @include searchButtonNotMobile();
        }
      }

      .byu-header-menu-button {
        @include headerMenuButtonNotMobile();
      }
    }
  }
}

:host([full-width]) {
  .byu-header-content {
    @include headerContentFullWidth();
  }
  .menu-inner-wrapper {
    @include headerContentFullWidth();
    padding: 0;
  }
}