@import "byu-header-common";

// FOUC Styling
byu-header:not(.byu-component-rendered) {
  @include headerPrimary();
  flex-wrap: wrap;
  width: 100%;
  height: 90px;
  min-height: 90px;
  max-height: 90px;
  color: $white!important;
  padding: 0;
  a {
    color: $white!important;
  }
  [slot="actions"] {
    text-transform: uppercase;
    font-family: 'HCo Ringside Narrow SSm', Helvetica, sans-serif;
    order: 0;
    text-decoration: none;
    background-color: #32538d;
    height: 29px;
    font-weight: 400;
    font-size: 11px;
    padding: 0 24px;
    color: #fff;
    display: flex;
    align-items: center;
    margin: auto 9px auto 10px;
  }
}

byu-header:not(.byu-component-rendered) > [slot="site-title"] {
  @include headerTitles();
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  padding: 0;
  padding-left: 16px;
  position: relative;
  top: -1px;
}

// byu icon
byu-header:not(.byu-component-rendered) > [slot="site-title"]:before {
  content: url(https://cdn.byu.edu/shared-icons/latest/logos/monogram-white.svg);
  height: 19px;
  width: 66px;
  margin: 19.5px 0;
  margin-right: 8px;
  position: relative;
  top: 1px;
}

// Overriding styling
byu-header a[slot="site-title"], byu-header [slot="site-title"] a {
  @include headerTitleText();
  padding: 0;
}


/****** RESPONSIVE FOUC STYLING ******/

@media (min-width: 1024px) {

  byu-header:not(.byu-component-rendered) {
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    box-shadow: 0 0 10px rgba(0,0,0,.16);
    [slot="actions"] {
      display: none;
    }
  }

  byu-header:not(.byu-component-rendered) > [slot="site-title"] {
    font-size: 17.5px !important;
    top: 0;
  }

  // byu icon
  byu-header:not(.byu-component-rendered) > [slot="site-title"]:before {
    height: 13px;
    width: 45px;
    margin: 16px 8px 16px 0;
    top: 0;
  }

}