@import "byu-header-common";

// FOUC Styling
byu-header:not(.byu-component-rendered) {
  @include headerPrimary();
  flex-wrap: wrap;
  width: 100%;
  height: 90px;
  min-height: 90px;
  max-height: 90px;
  color: $white!important;
  padding: 0;
  a {
    color: $white!important;
  }
  [slot="actions"] {
    text-transform: uppercase;
    font-family: 'HCo Ringside Narrow SSm', Helvetica, sans-serif;
    font-weight: 500;
    font-size: 13px;
    margin-top: 1px;
    order: 0;
    margin-left: 4px;
    margin-right: 4px;
    text-decoration: none;
  }
}

byu-header:not(.byu-component-rendered) > [slot="site-title"] {
  @include headerTitles();
  padding-left: 16px;
  flex-direction: row;
  height: 40px;
  align-items: center;
  font-weight: 400;
}

// byu icon
byu-header:not(.byu-component-rendered) > [slot="site-title"]:before {
  //content: "BYU"; // make sure the space is the exact same size
  content: url(https://cdn.byu.edu/shared-icons/latest/logos/monogram-white.svg);
  width: 114px;
  height: 33px;
  font-size: 40px;
  font-family: "Arial", sans-serif;
  //padding-right: 16px;
  margin-right: 16px;
  font-weight: 800 !important;
  letter-spacing: 2px;
}

// Overriding styling
byu-header a[slot="site-title"], byu-header [slot="site-title"] a {
  @include headerTitleText();
}


/* MOBILE */
//#mobileMenu {
//  @include mobileMenu();
//}
//
//.byu-header > [name=actions] {
//  @include actions();
//}
//
//.byu-header[mobile-view] {
//  & > [name=actions] {
//    @include actionsMobile();
//  }
//  & > div > * {
//    @include headerInnerMarginMobile();
//  }
//}
//
//.byu-header {
//  @include headerFonts();
//  & > div > * {
//    @include headerInnerMargin();
//  }
//  button {
//    @include headerButton();
//
//    &.mobile-menu-button {
//      @include headerButtonMobile();
//    }
//  }
//  .byu-header-primary {
//    @include headerPrimary();
//    .byu-header-title, #title > * {
//      @include headerTitle();
//    }
//  }
//  .byu-header-user {
//    button {
//      @include headerUserButton();
//      .icon {
//        @include headerUserIcon();
//      }
//      .label {
//        @include headerUserLabel();
//      }
//    }
//  }
//  .byu-header-search {
//    #search-input {
//      @include searchInput();
//      .byu-header-search.-webkit-input-placeholder {
//        @include searchWebkitPlaceholder();
//      }
//      .byu-header-search.-ms-input-placeholder {
//        @include searchMicrosoftPlaceholder();
//      }
//      .byu-header-search.-moz-placeholder {
//        @include searchMozillaPlaceholder();
//      }
//    }
//  }
//  .byu-logo {
//    @include byuLogo();
//  }
//}
//
//#mobileMenu {
//  @include mobileMenu();