@import "byu-header-common";

// FOUC Styling
byu-header:not(.byu-component-rendered) {
  @include headerPrimary();
  flex-wrap: wrap;
  width: 100%;
  height: 90px;
  min-height: 90px;
  max-height: 90px;
  color: $white!important;
  padding: 0;
  a {
    color: $white!important;
  }
  [slot="actions"] {
    text-transform: uppercase;
    font-family: 'HCo Ringside Narrow SSm', Helvetica, sans-serif;
    order: 0;
    text-decoration: none;
    background-color: #32538d;
    height: 29px;
    font-weight: 400;
    font-size: 11px;
    padding: 0 24px;
    color: #fff;
    display: flex;
    align-items: center;
    margin: auto 9px auto 10px;
  }
}

byu-header:not(.byu-component-rendered) > [slot="site-title"] {
  @include headerTitles();
  flex-direction: row;
  align-items: center;
  font-weight: 400;
  padding: 0;
  padding-left: 16px;
}

// byu icon
byu-header:not(.byu-component-rendered) > [slot="site-title"]:before {
  content: url(https://cdn.byu.edu/shared-icons/latest/logos/monogram-white.svg);
  height: 19px;
  width: 66px;
  margin: 19.5px 0;
  margin-right: 8px;
}

// Overriding styling
byu-header a[slot="site-title"], byu-header [slot="site-title"] a {
  @include headerTitleText();
  padding: 0;
}


/* MOBILE */
//#mobileMenu {
//  @include mobileMenu();
//}
//
//.byu-header > [name=actions] {
//  @include actions();
//}
//
//.byu-header[mobile-view] {
//  & > [name=actions] {
//    @include actionsMobile();
//  }
//  & > div > * {
//    @include headerInnerMarginMobile();
//  }
//}
//
//.byu-header {
//  @include headerFonts();
//  & > div > * {
//    @include headerInnerMargin();
//  }
//  button {
//    @include headerButton();
//
//    &.mobile-menu-button {
//      @include headerButtonMobile();
//    }
//  }
//  .byu-header-primary {
//    @include headerPrimary();
//    .byu-header-title, #title > * {
//      @include headerTitle();
//    }
//  }
//  .byu-header-user {
//    button {
//      @include headerUserButton();
//      .icon {
//        @include headerUserIcon();
//      }
//      .label {
//        @include headerUserLabel();
//      }
//    }
//  }
//  .byu-header-search {
//    #search-input {
//      @include searchInput();
//      .byu-header-search.-webkit-input-placeholder {
//        @include searchWebkitPlaceholder();
//      }
//      .byu-header-search.-ms-input-placeholder {
//        @include searchMicrosoftPlaceholder();
//      }
//      .byu-header-search.-moz-placeholder {
//        @include searchMozillaPlaceholder();
//      }
//    }
//  }
//  .byu-logo {
//    @include byuLogo();
//  }
//}
//
//#mobileMenu {
//  @include mobileMenu();