@import "../shared-styles/colors";
@import "../shared-styles/breakpoints";
@import "../shared-styles/misc";

header.byu-header {
  background-color: $navy;
  padding: 0;
  display: grid;
  grid-gap: 0;
  grid-template-columns: 72px auto;

  @media only screen and (min-width: $tablet) {
    grid-template-columns: 115px auto min-content;
  }

  div.byu-header-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 56px;

    a {
      text-decoration: none;
      color: $royal;
    }

    img.byu-logo {
      max-width: 50px;
      height: auto;
      vertical-align: middle;

      @media only screen and (min-width: $tablet) {
        max-width: 70px;
      }
    }
  }

  div.byu-header-titles {
    position: relative;
    padding: 9px 36px 9px 13px;
    font-family: 'HCo Ringside Narrow SSm', Arial, sans-serif;

    @media only screen and (min-width: $tablet) {
      padding: 12px 24px;
    }

    ::before {
      content: " ";
      display: block;
      position: absolute;
      background-color: $royal;
      width: 1px;
      height: 74%;
      right: auto;
      left: 0;
      top: 13%;
    }

    div.byu-header-title {
      color: $white;
      font-size: 18px;
      line-height: 1.4;
      margin: 6px 0;
      bottom: 1px;

      @media only screen and (min-width: 768px) {
        font-size: 21px;
      }

      a.byu-site-title {
        text-decoration: none;
      }

      slot[name="site-title"] {
        color: $white;
      }
    }
  }
}
