<style>
    <%- require('./byu-header.scss') %>
</style>

<div id="header" class="byu-header-root">

    <div class="byu-header-content needs-width-setting stretches">
        <div class="byu-header-primary">
            <a class="byu-logo byu-logo-link" id="home-url" name="home-url" href="">
                <img class="byu-logo byu-logo-image" alt="BYU" src="https://cdn.byu.edu/shared-icons/latest/logos/monogram-white.svg" />
            </a>

            <div class="byu-header-title">
                <slot id="site-title" name="site-title"></slot>
            </div>
            <% if (locals.mobile) { %>
                <button type="button" class="mobile-menu-button tcon tcon-menu--xbutterfly" aria-label="toggle menu">
                    <span class="tcon-menu__lines" aria-hidden="true"></span>
                    <span class="tcon-visuallyhidden">toggle menu</span>
                </button>
                <% } -%>
        </div>

        <% if (locals.mobile) { -%>
        <div id="mobileMenu">
            <slot id="user" name="user"></slot>
            <slot id="navbarMenu" name="nav"></slot>
            <div class="byu-header-actions">
                <slot id="actions" name="actions"></slot>
            </div>
        </div>
        <% } -%>

        <div id="secondary" class="byu-header-secondary">
            <% if (!locals.mobile) { %>
                <div class="byu-header-actions">
                    <slot id="actions" name="actions"></slot>
                </div>
                <div class="byu-header-user">
                    <slot id="user" name="user"></slot>
                </div>
                <% } -%>
                    <div class="byu-header-search">
                        <slot id="search" name="search"></slot>
                    </div>

        </div>
    </div>
</div>
<% if (!locals.mobile) { -%>
<div class="menu-outer-wrapper">
    <div class="menu-inner-wrapper slot-wrapper needs-width-setting">
        <slot id="navbarMenu" name="nav"></slot>
    </div>
</div>
    <% } -%>