@import "./mixins.scss";

byu-header:not(:defined) {
  @include headerPrimary();
  flex-wrap: wrap;
  width: 100%;
  height: 90px;
  color: #fff!important;
  // needs padding-left: 16px from headerPrimary
  // to be overridden and added to site-title and
  // :after or it will move the menu over
  a {
    color: #fff!important;
  }
  [slot="actions"] {
    text-transform: uppercase;
  }
}

byu-header:not(:defined) > [slot="site-title"] {
  @include headerTitle();
  position: relative;
  top: -6px;
  //padding: 10px 15px;
}
// byu icon
byu-header:not(:defined) > [slot="site-title"]:before {
  content: "BYU"; // make sure the space is the exact same size
  font-weight: bold;
  font-size: 40px;
  font-family: "Arial";
  position: relative;
  top: 6px;
}
/* MOBILE */
//#mobileMenu {
//  @include mobileMenu();
//}
//
//.byu-header > [name=actions] {
//  @include actions();
//}
//
//.byu-header[mobile-view] {
//  & > [name=actions] {
//    @include actionsMobile();
//  }
//  & > div > * {
//    @include headerInnerMarginMobile();
//  }
//}
//
//.byu-header {
//  @include headerFonts();
//  & > div > * {
//    @include headerInnerMargin();
//  }
//  button {
//    @include headerButton();
//
//    &.mobile-menu-button {
//      @include headerButtonMobile();
//    }
//  }
//  .byu-header-primary {
//    @include headerPrimary();
//    .byu-header-title, #title > * {
//      @include headerTitle();
//    }
//  }
//  .byu-header-user {
//    button {
//      @include headerUserButton();
//      .icon {
//        @include headerUserIcon();
//      }
//      .label {
//        @include headerUserLabel();
//      }
//    }
//  }
//  .byu-header-search {
//    #search-input {
//      @include searchInput();
//      .byu-header-search.-webkit-input-placeholder {
//        @include searchWebkitPlaceholder();
//      }
//      .byu-header-search.-ms-input-placeholder {
//        @include searchMicrosoftPlaceholder();
//      }
//      .byu-header-search.-moz-placeholder {
//        @include searchMozillaPlaceholder();
//      }
//    }
//  }
//  .byu-logo {
//    @include byuLogo();
//  }
//}
//
//#mobileMenu {
//  @include mobileMenu();