@import "byu-header-common";

//byu-header:not(:defined) {
byu-header:not(.byu-component-rendered) {
  @include headerPrimary();
  flex-wrap: wrap;
  width: 100%;
  height: 90px;
  color: #fff!important;
  padding: 0;
  a {
    color: #fff!important;
  }
  [slot="actions"] {
    text-transform: uppercase;
    font-family: "Gotham A", "Gotham B", Helvetica, sans-serif;
    font-weight: 500;
    font-size: 13px;
    margin-top: 1px;
  }
}

//byu-header:not(:defined) > [slot="site-title"] {
//byu-header:not(.byu-component-rendered) > [slot="site-title"] {  //makes sub/supertitles appear as a second site-title
byu-header:not(.byu-component-rendered) > #site-name {
  @include headerTitles();
  padding-left: 16px;
  flex-direction: row;
  height: 40px;
  align-items: center;
}

// byu icon
//byu-header:not(:defined) > [slot="site-title"]:before {
//byu-header:not(.byu-component-rendered) > [slot="site-title"]:before {
byu-header:not(.byu-component-rendered) > #site-name:before {
  content: "BYU"; // make sure the space is the exact same size
  font-size: 40px;
  font-family: "Arial", sans-serif;
  padding-right: 16px;
  font-weight: 800 !important;
  letter-spacing: 2px;
}


byu-header a[slot="site-title"], byu-header [slot="site-title"] a {
  @include headerTitleText();
}

byu-header .subtitle {
  display: none;
}

.menu-inner-wrapper {
  max-width: 1200px;
}

byu-header:not(.byu-component-rendered) [full-width] {
  .byu-header-content {
    @include headerContentFullWidth();
  }
  .menu-inner-wrapper {
    @include headerContentFullWidth();
    padding: 0;
  }
}


/* MOBILE */
//#mobileMenu {
//  @include mobileMenu();
//}
//
//.byu-header > [name=actions] {
//  @include actions();
//}
//
//.byu-header[mobile-view] {
//  & > [name=actions] {
//    @include actionsMobile();
//  }
//  & > div > * {
//    @include headerInnerMarginMobile();
//  }
//}
//
//.byu-header {
//  @include headerFonts();
//  & > div > * {
//    @include headerInnerMargin();
//  }
//  button {
//    @include headerButton();
//
//    &.mobile-menu-button {
//      @include headerButtonMobile();
//    }
//  }
//  .byu-header-primary {
//    @include headerPrimary();
//    .byu-header-title, #title > * {
//      @include headerTitle();
//    }
//  }
//  .byu-header-user {
//    button {
//      @include headerUserButton();
//      .icon {
//        @include headerUserIcon();
//      }
//      .label {
//        @include headerUserLabel();
//      }
//    }
//  }
//  .byu-header-search {
//    #search-input {
//      @include searchInput();
//      .byu-header-search.-webkit-input-placeholder {
//        @include searchWebkitPlaceholder();
//      }
//      .byu-header-search.-ms-input-placeholder {
//        @include searchMicrosoftPlaceholder();
//      }
//      .byu-header-search.-moz-placeholder {
//        @include searchMozillaPlaceholder();
//      }
//    }
//  }
//  .byu-logo {
//    @include byuLogo();
//  }
//}
//
//#mobileMenu {
//  @include mobileMenu();