@import "../shared-styles/colors.scss";
@import "../shared-styles/settings.scss";
@import "../shared-styles/nav.scss";
@import "icons/transformicons.scss";

$action-text-color: #FFFFFF;
$action-text-hover-color: #002E5D;

/* GENERAL STYLING */
@mixin headerRoot() {
  //background-color: $navy;
  width: 100%;
}

@mixin headerContent() {
  display: flex;
  justify-content: center;
  flex: 1;
  flex-basis: 100%;
  //padding: $pageContentPadding;
  box-sizing: border-box;
}

@mixin headerLogoMargin() {
  margin: 18px 8px 19px 0;
}

@mixin headerDefaultFont(){
  font-family: $headerContentFont;
  font-size: 18px;
}

@mixin headerInnerMargin() {
  margin-right: 16px;
}

@mixin actionsWrapper() {
  display: flex;
  align-items: center;
  margin-right: 22px;
}

@mixin actions(){
  background-color: #32538D;
  height: 29px;
  font-family: $headerContentFont;
  font-weight: $headerContentFontWeight;
  font-size: 11px;
  padding: 0 24px;
  color: $action-text-color;
  display: flex;
  align-items: center;
  text-decoration: none;
  text-transform: uppercase;
  margin-left: 10px;

}

@mixin actionsHover {
  color: $action-text-hover-color;
  background-color: #EDEDED;
}

@mixin headerButton(){
  background-color: $medgray;
  color: $white;
  border: none;
  cursor: pointer;
}

@mixin headerPrimary() {
  background-color: $navy;
  color: $white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: flex-start;
  flex: 1;
  min-height: $headerHeight;
  box-sizing: border-box;
  padding-left: 16px;
}

@mixin headerTitleText() {
  font-family: $siteNameFont !important;
  color: $white !important;
  text-decoration: none;
  padding-top: 13px;
  padding-bottom: 13px;
}

@mixin headerTitles() {
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  flex: 1;
  display: flex; /* Needed for IE 11 Compatibility since IE 11 doesn't support grid. We can remove this once we get rid of IE 11 support */
  display: grid;
  flex-direction: column;
  font-size: $siteTitleSize !important;
  @include headerTitleText();
}

@mixin titleSlotted() {
  font-family: $siteNameFont !important;
  font-weight: 400;
  font-size: $siteTitleSize !important;
  line-height: normal !important; 
  grid-row: 1;
  margin-top: 0;
  margin-bottom: 0;
}

@mixin mobileSiteTitleSlotted() {
  font-size: $mobileSiteTitleSize !important;
  font-weight: 400;
}

@mixin headerSubTitle() {
  font-size: $siteSubTitleSize !important;
  line-height: $siteSubTitleSize !important;
  font-style: italic;
  grid-row: 2;
}

@mixin mobileSubTitle() {
  font-size: $mobileSiteSubTitleSize !important;
  line-height: $mobileSiteSubtitleLineHeight !important;
}

@mixin headerUserButton() {
  background-color: transparent;
  position: relative;
}

@mixin headerUserIcon() {
  width: 20px;
  height: 20px;
  font-size: 20px;
  vertical-align: middle;
}

@mixin headerUserLabel() {
  font-family: $headerContentFont;
  font-weight: $headerContentFontWeight;
  font-size: 13px;
  text-transform: uppercase;
}

@mixin ie11Outdated() {
  position: relative;
  box-sizing: border-box;
  background: #FCC014;
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 15px 60px;
  transition: opacity ease-in-out 500ms, margin-top ease-in-out 200ms 300ms;
}

@mixin ie11OutdatedButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  width: 20px;
  line-height: 20px;
  font-size: 30px;
  padding: 0;
  font-weight: bold;
  background: none;
  cursor: pointer;
  overflow: hidden;
}

@mixin ie11OutdatedHidden() {
  opacity: 0;
  z-index: -1;
}

@mixin ie11OutdatedLabel() {
  font-family: $headerContentFont;
  font-weight: $headerContentFontWeight;
  font-size: 22px;
  text-align: center;
  color: #000000;
}

@mixin searchInput() {
  font-family: $headerContentFont;
  font-weight: $headerContentFontWeight;
  font-size: 13px;
  color: $navy;
}

@mixin searchWebkitPlaceholder() {
  color: $gray;
  opacity: 1;
}

@mixin searchMicrosoftPlaceholder() {
  color: $gray;
  opacity: 1;
}

@mixin searchMozillaPlaceholder() {
  color: $gray;
  opacity: 1;
}

@mixin byuLogo() {
  height: $byuLogoHeight;
}

@mixin menuOuterWrapper() {
  background-color: $white;
}

@mixin menuInnerWrapper() {
  margin: 0 auto;
  padding: $pageContentPadding;
  box-sizing: border-box;
}

@mixin menuTransparent() {
  background: rgba(255,255,255,0.88);
}

@mixin belowMaxMenuInnerWrapper() {
    padding: 0;
}

$menuTransitionTiming: 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
$menuTransition: max-height $menuTransitionTiming;

/* MOBILE */

@mixin mobileMenu() {
  max-height: 0;
  transition: $menuTransition;
  will-change: max-height;
  border-bottom: solid 0.2px #C5C5C5;
}

@mixin mobileHeaderContent() {
  display: block;
  margin: 0;
  padding: 0;
  background-color: $white;
}

@mixin mobileHeaderPrimary() {
  min-height: 45px;
}

@mixin mobileMenuOverflow() {
  overflow: hidden;
}

@mixin mobileHeaderAlign() {
  padding-right: $pageContentHorizontalPadding !important;
}

@mixin mobileLogo() {
  height: $mobileByuLogoHeight !important;
  display: block;
}

@mixin mobileLogoImage() {
  margin: 16px 8px 19px 0;
}

@mixin actionsMobile() {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 10px 0 13px 0;
}

@mixin actionsMobileSlotted() {
  margin: 0px 0 10px 25px;
  min-width: 55px;
}

@mixin mobileActionsLinks() {
  color: $navy !important;
  font-weight: $menuFontWeight !important;
}

@mixin mobileActionsLinksP() {
  margin: 0 !important;
}

@mixin headerInnerMarginMobile() {
  margin-right: 0;
}

@mixin mobileSiteTitle() {
  align-items: flex-start;
  align-self: center;
  font-size: $mobileSiteTitleSize !important;
  padding-bottom: 12px;
  padding-top: 12px;
}


@mixin headerButtonMobile() {
  background-color: transparent;
  margin-top: ($mobileHeaderHeight - $tcon-size)/2;
  margin-bottom: ($mobileHeaderHeight - $tcon-size)/2;
  margin-left: ($mobileHeaderHeight - $tcon-size)/2;
}

@mixin mobileMenuButton() {
  display: none;
}

@mixin searchTransition() {
  max-height: 35px;
  transition: $menuTransition, transform $menuTransitionTiming;
  will-change: max-height, transform;
  overflow: hidden;
  transform: scale(1, 1);
  transform-origin: top;
}

@mixin searchTransformed() {
  max-height: 0;
  transform: scale(1, 0);

}

/* FULL SIZE */

@mixin headerNotMobile() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: $navy;
}

@mixin headerNotMobileNoNav() {
  height: 48px;
}

@mixin headerNotMobileNavExpand() {
  display: none;
}

@mixin headerSecondaryNotMobile() {
  background-color: $navy;
  color: $white;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: $headerHeight;
  padding-right: 16px;
}

@mixin searchNotMobile() {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

@mixin searchInputNotMobile() {
  border: 1px solid $navy;
  border-right: none;
  height: 20px;
  padding: 4px 6px;
  flex: 1;
  width: 217px;
  box-sizing: content-box;
}

@mixin searchButtonNotMobile() {
  height: 28px;
  width: 30px;
  text-align: center;
}

@mixin headerMenuButtonNotMobile() {
  display: none;
}

/* FULL WIDTH (NOT DEFAULT WIDTH OF 1200px) */
@mixin headerContentFullWidth() {
  max-width: 100% !important;
}