@import "byu-header-common";

/* GENERAL STYLING */
.byu-header-actions {

  @include actionsWrapper();

  ::slotted(*) {
      @include actions();
  }
} 
.byu-header-root {
  @include headerRoot();
  @include headerDefaultFont();

  .byu-header-content {
    @include headerContent();
  }

  img.byu-logo {
    @include headerLogoMargin();
  }

  button {
    @include headerButton();
  }

  .byu-header-primary {
    @include headerPrimary();
    .byu-header-title {
      @include headerTitles();
        
      ::slotted(*) {
        @include titleSlotted();
      }

      ::slotted(.subtitle) {
        @include headerSubTitle();
      }
      ::slotted(.subtitle:first-child) {
        @include headerSuperTitle();
      }
    } 

    .byu-header-user {
      button {
        @include headerUserButton();

        .icon {
          @include headerUserIcon();
        }
        .label {
          @include headerUserLabel();
        }
      }
    }

    .byu-header-search {
      #search-input {
        @include searchInput();

        &::-webkit-input-placeholder {
          @include searchWebkitPlaceholder();
        }
        &::-ms-input-placeholder {
          @include searchMicrosoftPlaceholder();
        }
        &::-moz-placeholder {
          @include searchMozillaPlaceholder();
        }
      }
    }

    .byu-logo, .byu-logo-link {
      @include byuLogo();
    }
  }
}

.menu-outer-wrapper {
  @include menuOuterWrapper();
}

.menu-inner-wrapper {
  @include menuInnerWrapper();
}

:host(.menu-transparent) {
  .menu-outer-wrapper {
    @include menuTransparent();
  }
}

:host(.below-max-width) {
  .menu-inner-wrapper {
    @include belowMaxMenuInnerWrapper();
  }
}

/* MOBILE */
#mobileMenu {
  @include mobileMenu();
  @include mobileMenuOverflow();
}

:host([mobile-view]) {
  .byu-header-root { // needed to give correct precedence in Firefox

    .byu-header-content {
      @include mobileHeaderContent();
    }
    .byu-logo {
      @include mobileLogoAlign();
    }
    .byu-header-primary {
      @include mobileHeaderPrimary();
      @include mobileHeaderAlign();
    }

    .byu-header-actions {
      @include actionsMobile();

      & ::slotted(*) {
        @include actionsMobileSlotted();
      }
    }

    & > div > :not(.byu-logo) {
      @include headerInnerMarginMobile();
    }
    .byu-header-title {
      @include mobileSiteTitle();

      ::slotted(*) {
        @include mobileSiteTitleSlotted();
      }

      ::slotted(.subtitle) {
        @include mobileSubTitle();  
      }

      ::slotted(.subtitle:first-child) {
        @include mobileSuperTitle();  
      }
    }
    button {
      &.mobile-menu-button {
        @include headerButtonMobile();
      }
    }
  }
}

:host([no-menu]) .mobile-menu-button {
  @include mobileMenuButton();
}

:host([mobile-view]) .byu-header-search {
  @include searchTransition();
}

:host(.byu-header-menu-open[mobile-view]) .byu-header-search {
  @include searchTransformed();
}

/* FULL SIZE */
:host(:not([mobile-view])) {
  .byu-header-root {
    @include headerNotMobile();

    &.no-nav {
      @include headerNotMobileNoNav();
    }
    .nav-expand {
      @include headerNotMobileNavExpand();
    }

    //only use hover styles for actions link if we're not in mobile view.
    .byu-header-actions ::slotted(*:hover) {
      @include actionsHover();
    }

    .byu-header-secondary {
      @include headerSecondaryNotMobile();

      .byu-header-search {
        @include searchNotMobile();

        input {
          @include searchInputNotMobile();
        }
        button {
          @include searchButtonNotMobile();
        }
      }

      .byu-header-menu-button {
        @include headerMenuButtonNotMobile();
      }
    }
  }
}

:host([full-width]) {
  .byu-header-content {
    @include headerContentFullWidth();
  }
  .menu-inner-wrapper {
    @include headerContentFullWidth();
    padding: 0;
  }
}