<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="../../bower_components/webcomponentsjs/webcomponents.js"></script>
    <script src="../byu-header/byu-header.js"></script>
    <script src="../byu-menu/byu-menu.js"></script>
    <script src="../byu-footer/byu-footer.js"></script>

    <link type="text/css" rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="import" href="../../bower_components/iron-demo-helpers/demo-snippet.html">
    <link type="text/css" rel="stylesheet" href="//cloud.typography.com/75214/6517752/css/fonts.css" media="all" />
    <link type="text/css" rel="stylesheet" href="https://lscdn.byu.edu/Template/css/site.css">
</head>

<body>
    <byu-header>
        <span slot="title">Templates Demo Site</span>
        <byu-menu slot="nav" collapsed>
            <a href="/template/index.html">Home</a>
            <a class="selected" href="/template/components/byu-header/demo.html">Top Bar</a>
            <a href="/template/components/byu-menu/demo.html">Menu</a>
            <a href="/template/components/byu-search/demo.html">Search</a>
            <a href="/template/components/byu-user-login/demo.html">User Login</a>
            <a href="/template/components/byu-footer/demo.html">Footer</a>
        </byu-menu>
    </byu-header>
    <h1>Top Bar Demo</h1>
    <div style="margin-bottom: 20px">
        This page contains several demos of the new BYU top bar. Note that many of these are incomplete pending further development.
    </div>
    <hr>
    <div style="margin: 20px">
        <h2>Header only</h2>
        <demo-snippet>
            <template>
                <byu-header>
                    <span slot="title">Our site.... in the middle of our web.</span>
                </byu-header>
            </template>
        </demo-snippet>

        <h2>Header only with search</h2>
        <demo-snippet>
            <template>
                <byu-header>
                    <span slot="title">Our site.... in the middle of our web.</span>
                </byu-header>
            </template>
        </demo-snippet>

        <h2>Header only with search and sign-in</h2>
        <demo-snippet>
            <template>
                <byu-header>
                    <span slot="title">Our site.... in the middle of our web.</span>
                </byu-header>
            </template>
        </demo-snippet>

        <h2>Header with search, sign-in, and nav</h2>
        <demo-snippet>
            <template>
                <byu-header>
                    <span slot="title">Our site.... in the middle of our web.</span>
                    <byu-menu slot="nav" collapsed>
                        <a href="javascript: void 0">Link 1</a>
                        <a href="javascript: void 0">Link 2</a>
                        <a href="javascript: void 0">Link 3</a>
                        <a href="javascript: void 0">Link 4</a>
                        <a href="javascript: void 0">Link 5</a>
                        <a href="javascript: void 0">Link 6</a>
                        <a href="javascript: void 0">Link 7</a>
                        <a href="javascript: void 0">Link 8</a>
                        <a href="javascript: void 0">Link 9</a>
                        <a href="javascript: void 0">Link 10</a>
                    </byu-menu>
                </byu-header>
            </template>
        </demo-snippet>

        <h2>Header + Nav with two-line title</h2>
        <demo-snippet>
            <template>
                <byu-header>
                    <span slot="title">Our site.... in the middle of our web.</span>
                    <byu-menu slot="nav" collapsed>
                        <a href="javascript: void 0">Link 1</a>
                        <a href="javascript: void 0">Link 2</a>
                        <a href="javascript: void 0">Link 3</a>
                        <a href="javascript: void 0">Link 4</a>
                        <a href="javascript: void 0">Link 5</a>
                        <a href="javascript: void 0">Link 6</a>
                        <a href="javascript: void 0">Link 7</a>
                        <a href="javascript: void 0">Link 8</a>
                        <a href="javascript: void 0">Link 9</a>
                        <a href="javascript: void 0">Link 10</a>
                    </byu-menu>
                </byu-header>
            </template>
        </demo-snippet>

        <h2>Header + Nav with "Sign Out"</h2>
        <demo-snippet>
            <template>
                <byu-header>
                    <span slot="title">Our site.... in the middle of our web.</span>
                    <byu-menu slot="nav" collapsed>
                        <a href="javascript: void 0">Link 1</a>
                        <a href="javascript: void 0">Link 2</a>
                        <a href="javascript: void 0">Link 3</a>
                        <a href="javascript: void 0">Link 4</a>
                        <a href="javascript: void 0">Link 5</a>
                        <a href="javascript: void 0">Link 6</a>
                        <a href="javascript: void 0">Link 7</a>
                        <a href="javascript: void 0">Link 8</a>
                        <a href="javascript: void 0">Link 9</a>
                        <a href="javascript: void 0">Link 10</a>
                    </byu-menu>
                </byu-header>
            </template>
        </demo-snippet>

        <h2>Header + Nav, Signed in with Account options</h2>
        <demo-snippet>
            <template>
                <byu-header>
                    <span slot="title">Our site.... in the middle of our web.</span>
                    <byu-menu slot="nav" collapsed>
                        <a href="javascript: void 0">Link 1</a>
                        <a href="javascript: void 0">Link 2</a>
                        <a href="javascript: void 0">Link 3</a>
                        <a href="javascript: void 0">Link 4</a>
                        <a href="javascript: void 0">Link 5</a>
                        <a href="javascript: void 0">Link 6</a>
                        <a href="javascript: void 0">Link 7</a>
                        <a href="javascript: void 0">Link 8</a>
                        <a href="javascript: void 0">Link 9</a>
                        <a href="javascript: void 0">Link 10</a>
                    </byu-menu>
                </byu-header>
            </template>
        </demo-snippet>

        <h2>Header + Nav with active state</h2>
        <demo-snippet>
            <template>
                <byu-header>
                    <span slot="title">Our site.... in the middle of our web.</span>
                    <byu-menu slot="nav" collapsed>
                        <a href="javascript: void 0">Link 1</a>
                        <a class="selected" href="javascript: void 0">Link 2</a>
                        <a href="javascript: void 0">Link 3</a>
                        <a href="javascript: void 0">Link 4</a>
                        <a href="javascript: void 0">Link 5</a>
                        <a href="javascript: void 0">Link 6</a>
                        <a href="javascript: void 0">Link 7</a>
                        <a href="javascript: void 0">Link 8</a>
                        <a href="javascript: void 0">Link 9</a>
                        <a href="javascript: void 0">Link 10</a>
                    </byu-menu>
                </byu-header>
                <div style="margin: 10px">
                    Here we have some content so you can see what that might look like.
                </div>
            </template>
        </demo-snippet>
    </div>
    <footer>
        <byu-footer></byu-footer>
    </footer>
</body>

</html>