@import "../shared-styles/colors.scss";
@import "../shared-styles/settings.scss";
@import "../shared-styles/nav.scss";
@import "icons/transformicons.scss";

/* GENERAL STYLING */
@mixin headerRoot() {
  background-color: $navy;
  width: 100%;
}

@mixin headerContent() {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  flex: 1;
  margin: 0 16px;
  box-sizing: border-box;
}

/* GENERAL STYLING */
@mixin headerLogo() {
  margin-right: 16px;
}

@mixin headerDefaultFont(){
  //font-family: "Vitesse Book";
  font-family: $headerContentFont;
  font-size: 18px;
}

@mixin headerInnerMargin() {
  margin-right: 16px;
}

@mixin actionsNotMobile() {
  margin-left: 4px;
  margin-right: 4px;
}

@mixin actionsNotMobileLinks() {
  color: #fff;
}

@mixin actionsWrapper() {
  display: flex;
  align-items: center;
  height: $byuLogoHeight;
}

@mixin actions(){
  @include headerLink();
}

@mixin headerButton(){
  background-color: $medgray;
  color: #ffffff;
  border: none;
  //display: inline-block;
  cursor: pointer;
}

@mixin headerPrimary() {
  background-color: $navy;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  min-height: $headerHeight;
  box-sizing: border-box;
}

@mixin headerTitles() {
  //white-space: nowrap;  //fixes issues with double-stacking
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  flex: 1;
  display: flex;
  flex-direction: column;
  font-family: $siteNameFont !important;
  font-size: $siteTitleSize;
  line-height: $siteTitleSize;
  color: #fff!important;
  //padding: 10px 0;  unnecessary in both full and mobile
  a {
    color: #fff!important;
  }
}

@mixin titleSlotted() {
  font-family: $siteNameFont !important;
}

@mixin headerSiteTitle() {
  margin-top: -1px;
  margin-bottom: -1px;
}

@mixin headerSubTitle() {
  font-size: $siteSubTitleSize;
  line-height: $siteSubTitleSize;
  margin: 0;
}

@mixin headerSuperTitle() {
  font-size: $siteSuperTitleSize;
  line-height: $siteSuperTitleSize;
}

@mixin headerUserButton() {
  background-color: transparent;
  position: relative;
}

@mixin headerUserIcon() {
  width: 20px;
  height: 20px;
  font-size: 20px;
  vertical-align: middle;
}

@mixin headerUserLabel() {
  font-family: $headerContentFont;
  font-weight: $headerContentFontWeight;
  font-size: 13px;
  text-transform: uppercase;
}

@mixin searchInput() {
  font-family: $headerContentFont;
  font-weight: $headerContentFontWeight;
  font-size: 13px;
  color: $navy;
}

@mixin searchWebkitPlaceholder() {
  color: $gray;
  opacity: 1;
}

@mixin searchMicrosoftPlaceholder() {
  color: $gray;
  opacity: 1;
}

@mixin searchMozillaPlaceholder() {
  color: $gray;
  opacity: 1;
}

@mixin byuLogo() {
  //height: 48px;  //was forcing padding within image
  //width: 92px;
  height: $byuLogoHeight;
}

/* MOBILE */

@mixin mobileMenu() {
  max-height: 0;
  transition: 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

@mixin mobileHeaderContent() {
  display: block;
  margin: 0;
}

@mixin mobileHeaderPrimary() {
  margin-left: 16px;
}

@mixin mobileMenuOverflow() {
  overflow: hidden;
}

@mixin mobileHeaderAlign() {
  padding-top: ($headerHeight - $byuLogoHeight)/2;
  padding-bottom: ($headerHeight - $byuLogoHeight)/2;
  min-height: $byuLogoHeight;
  padding-right: 14px !important;
  align-items: baseline;
}

@mixin mobileLogoAlign() {
  align-self: flex-start;
}

@mixin actionsMobile() {
  @include dropdownNavItem();
  padding: 12px 0 !important;
  background-color: $lightergray;
  padding: 12px 0 !important;
  background-color: $lightergray;
  color: $navy !important;
  border-top: 1px solid $gray;
  width: 100%;
}

@mixin mobileActionsLinks() {
  color: $navy;
  font-weight: $menuFontWeight;
}

@mixin actionsMobileSlotted() {
  color: $navy !important;
  padding: 18px 50px !important;
  border-top: 1px solid $gray;
  width: 100%;
}

@mixin actionsMobileSlotted() {
  color: $navy !important;
  padding: 18px 50px !important;
}

@mixin mobileActionsLinks() {
  color: $navy !important;
  font-weight: $menuFontWeight !important;
}

@mixin mobileActionsLinksP() {
  margin: 0 !important;
}

@mixin headerInnerMarginMobile() {
  margin-right: 0;
}

@mixin mobileSiteTitle() {
  align-items: flex-start;
  align-self: center;
  font-size: $mobileSiteTitleSize !important;
  line-height: $byuLogoHeight/2 !important;
}

@mixin mobileSubTitle() {
  font-size: $mobileSiteSubTitleSize !important;
  margin-top: $mobileSiteTitleSize - $mobileSiteSubTitleSize;
}

@mixin mobileSuperTitle() {
  margin-top: 0 !important;
  margin-bottom: $mobileSiteTitleSize - $mobileSiteSubTitleSize;
}


@mixin headerButtonMobile() {
  background-color: transparent;
  margin-top: ($byuLogoHeight - $tcon-size)/2;
  margin-bottom: ($byuLogoHeight - $tcon-size)/2;
  
}

/* FULL SIZE */

@mixin headerNotMobile() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

@mixin headerNotMobileNoNav() {
  height: 48px;
}

@mixin headerNotMobileNavExpand() {
  display: none;
}

@mixin headerSecondaryNotMobile() {
  background-color: $navy;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: $headerHeight;
  //padding-right: 16px;
}

@mixin searchNotMobile() {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

@mixin searchInputNotMobile() {
  border: 1px solid $navy;
  border-right: none;
  height: 20px;
  padding: 4px 6px;
  flex: 1;
  width: 217px;
  box-sizing: content-box;
}

@mixin searchButtonNotMobile() {
  height: 28px;
  width: 30px;
  text-align: center;
}

@mixin headerMenuButtonNotMobile() {
  display: none;
}

/* FULL WIDTH (NOT DEFAULT WIDTH OF 1200px) */
@mixin headerContentFullWidth() {
  max-width: 100%;
}