@import "../shared-styles/colors.scss";
@import "../shared-styles/settings.scss";
@import "../shared-styles/nav.scss";
@import "icons/transformicons.scss";

/* GENERAL STYLING */

@mixin headerDefaultFont(){
  //font-family: "Vitesse Book";
  font-family: $headerContentFont;
  font-size: 18px;
}

@mixin headerInnerMargin() {
  margin-right: 16px;
}

@mixin actions(){
  @include headerLink();
  color: $navy;
  margin-left: 4px;
  margin-right: 4px;
}

@mixin headerButton(){
  background-color: $medgray;
  color: #ffffff;
  border: none;
  //display: inline-block;
  cursor: pointer;
}

@mixin headerPrimary() {
  background-color: $navy;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  padding-left: 16px;
  flex: 1;
  min-height: $headerHeight;
}

@mixin headerTitle() {
  //white-space: nowrap;  //fixes issues with double-stacking
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  text-overflow: ellipsis;
  flex: 1;
  font-family: $siteNameFont !important;
  font-size: $siteTitleSize !important;
  color: #fff!important;
  padding-bottom: 10px;
  a {
    color: #fff!important;
  }
}

@mixin headerUserButton() {
  background-color: transparent;
  position: relative;
}

@mixin headerUserIcon() {
  width: 20px;
  height: 20px;
  font-size: 20px;
  vertical-align: middle;
}

@mixin headerUserLabel() {
  font-family: $headerContentFont;
  font-weight: $headerContentFontWeight;
  font-size: 13px;
  text-transform: uppercase;
}

@mixin searchInput() {
  font-family: $headerContentFont;
  font-weight: $headerContentFontWeight;
  font-size: 13px;
  color: $navy;
}

@mixin searchWebkitPlaceholder() {
  color: $gray;
  opacity: 1;
}

@mixin searchMicrosoftPlaceholder() {
  color: $gray;
  opacity: 1;
}

@mixin searchMozillaPlaceholder() {
  color: $gray;
  opacity: 1;
}

@mixin byuLogo() {
  //height: 48px;  //was forcing padding within image
  //width: 92px;
  height: 30px;
}

/* MOBILE */

@mixin mobileMenu() {
  max-height: 0;
  transition: 0.5s cubic-bezier(0.4, 0.0, 0.2, 1);
}

@mixin mobileMenuOverflow() {
  overflow: hidden;
}

@mixin mobileHeaderAlign() {
  align-items: flex-start;
  padding-top: 12px;
}

@mixin actionsMobile() {
  @include dropdownNavItem();
  background-color: $gray;
  border-top: 1px solid $medgray;
}
@mixin headerInnerMarginMobile() {
  margin-right: 0px;
}
@mixin mobileHeaderLogo() {
  margin-right: 8px;
}

@mixin mobileSiteTitle() {
  font-size: $mobileSiteTitleSize;
}

@mixin headerButtonMobile() {
  background-color: transparent;
  font-size: 20px;
}

/* FULL SIZE */

@mixin headerNotMobile() {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

@mixin headerNotMobileNoNav() {
  height: 48px;
}

@mixin headerNotMobileNavExpand() {
  display: none;
}

@mixin headerSecondaryNotMobile() {
  background-color: $navy;
  color: #ffffff;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  height: $headerHeight;
}

@mixin searchNotMobile() {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

@mixin searchInputNotMobile() {
  border: 1px solid $navy;
  border-right: none;
  height: 20px;
  padding: 4px 6px;
  flex: 1;
  width: 217px;
  box-sizing: content-box;
}

@mixin searchButtonNotMobile() {
  height: 28px;
  width: 30px;
  text-align: center;
}

@mixin headerMenuButtonNotMobile() {
  display: none;
}