@import "./mixins.scss";

/* GENERAL STYLING */
.byu-header-actions {

  @include actionsWrapper();

  ::slotted(*) {
      @include actions();
  }
} 
.byu-header-root {
  @include headerRoot();
  @include headerDefaultFont();

  .byu-header-content {
    @include headerContent();
  }

  .byu-logo {
    @include headerLogo();

  }

  button {
    @include headerButton();
  }

  .byu-header-primary {
    @include headerPrimary();
    .byu-header-title {
      @include headerTitles();
        
      ::slotted(*) {
        @include titleSlotted();
        @include headerSiteTitle();
      }

      ::slotted(.subtitle) {
        @include headerSubTitle();
      }
    } 

    .byu-header-user {
      button {
        @include headerUserButton();

        .icon {
          @include headerUserIcon();
        }
        .label {
          @include headerUserLabel();
        }
      }
    }

    .byu-header-search {
      #search-input {
        @include searchInput();

        &::-webkit-input-placeholder {
          @include searchWebkitPlaceholder();
        }
        &::-ms-input-placeholder {
          @include searchMicrosoftPlaceholder();
        }
        &::-moz-placeholder {
          @include searchMozillaPlaceholder();
        }
      }
    }

    .byu-logo {
      @include byuLogo();
    }
  }
}

/* MOBILE */
#mobileMenu {
  @include mobileMenu();
  @include mobileMenuOverflow();
}

:host([mobile-view]) {
  .byu-header-root { // needed to give correct precedence in Firefox
    .byu-header-content {
      @include mobileHeaderContent();
    }
    .byu-logo {
      @include mobileLogoAlign();
    }
    .byu-header-primary {
      @include mobileHeaderPrimary();
      @include mobileHeaderAlign();
    }

    .byu-header-actions {
      @include actionsMobile();

      ::slotted(*) {
        @include actionsMobileSlotted();
      }
    }

      #actions a {
        @include mobileActionsLinks();
      }
    }

    .byu-header-actions ::slotted(*) {
      @include actionsMobileSlotted();
    }

    // CHECK THIS
    //.byu-header-actions {
    //  @include actionsWrapperMobile();
    //
    //  ::slotted(*) {
    //    @include actionsMobile();
    //  }

    & > div > :not(.byu-logo) {
      @include headerInnerMarginMobile();
    }
    .byu-header-title {
      @include mobileSiteTitle();

      ::slotted(.subtitle) {
        @include mobileSubTitle();  
      }

      ::slotted(.subtitle:first-child) {
        @include mobileSuperTitle();  
      }
    }
    button {
      &.mobile-menu-button {
        @include headerButtonMobile();
      }
    }
  }
}

:host([no-menu]) .mobile-menu-button {
  display: none;
}

/* FULL SIZE */
:host(:not([mobile-view])) {
  .byu-header-root {
    @include headerNotMobile();

    .byu-header-actions ::slotted(*) {
      @include actionsNotMobile();
    }

    &.no-nav {
      @include headerNotMobileNoNav();
    }
    .nav-expand {
      @include headerNotMobileNavExpand();
    }
    .byu-header-secondary {
      @include headerSecondaryNotMobile();

      .byu-header-search {
        @include searchNotMobile();

        input {
          @include searchInputNotMobile();
        }
        button {
          @include searchButtonNotMobile();
        }
      }

      .byu-header-menu-button {
        @include headerMenuButtonNotMobile();
      }
    }
  }
}

:host([full-width]) {
  .byu-header-content {
    @include headerContentFullWidth();
  }
}