/*Variables*/
.byu-header {
  font-family: "Vitesee Book";
  font-size: 18px; }
  .byu-header > div > * {
    margin-right: 16px; }
  .byu-header button {
    background-color: #767676;
    color: #ffffff;
    border: none;
    display: inline-block;
    cursor: pointer; }
    .byu-header button.nav-expand {
      background-color: transparent; }
      .byu-header button.nav-expand span.fa {
        font-size: 20px; }
  .byu-header .byu-header-primary {
    background-color: #002e5d;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    flex: 1;
    height: 55px; }
    .byu-header .byu-header-primary .byu-header-title, .byu-header .byu-header-primary #title::slotted(*) {
      white-space: nowrap;
      overflow: hidden;
      -ms-text-overflow: ellipsis;
      text-overflow: ellipsis;
      flex: 1;
      font-family: "Vitesse A", "Vitesse B", Georgia, serif !important;
      font-size: 22px; }
  .byu-header .byu-header-user button {
    background-color: transparent;
    position: relative; }
    .byu-header .byu-header-user button .icon {
      width: 20px;
      height: 20px;
      font-size: 20px;
      vertical-align: middle; }
    .byu-header .byu-header-user button .label {
      font-family: "Gotham A", "Gotham B", Helvetica, sans-serif;
      font-weight: 400;
      font-size: 13px;
      text-transform: uppercase; }
  .byu-header .byu-header-search #search-input {
    font-family: "Gotham A", "Gotham B", Helvetica, sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #002e5d; }
    .byu-header .byu-header-search #search-input::-webkit-input-placeholder {
      color: #c5c5c5;
      opacity: 1; }
    .byu-header .byu-header-search #search-input::-ms-input-placeholder {
      color: #c5c5c5;
      opacity: 1; }
    .byu-header .byu-header-search #search-input::-moz-placeholder {
      color: #c5c5c5;
      opacity: 1; }
  .byu-header .byu-logo {
    height: 48px;
    width: 92px; }

/* FULL SIZE */
@media (min-width: 1024px) {
  .byu-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; }
    .byu-header.no-nav {
      height: 48px; }
    .byu-header .nav-expand {
      display: none; }
    .byu-header .byu-header-secondary {
      background-color: #002e5d;
      color: #ffffff;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      height: 55px; }
      .byu-header .byu-header-secondary .byu-header-search {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center; }
        .byu-header .byu-header-secondary .byu-header-search input {
          border: 1px solid #002e5d;
          border-right: none;
          height: 20px;
          padding: 4px 6px;
          flex: 1;
          width: 217px;
          box-sizing: content-box; }
        .byu-header .byu-header-secondary .byu-header-search button {
          height: 28px;
          width: 30px;
          text-align: center; }
      .byu-header .byu-header-secondary .byu-header-menu-button {
        display: none; } }

/* TABLET SIZE */
@media (max-width: 1023px) {
  .byu-header .byu-header-secondary {
    background-color: initial;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center; }
    .byu-header .byu-header-secondary > div {
      margin-right: 0;
      height: auto; }
    .byu-header .byu-header-secondary button {
      border-left: 1px solid #ffffff; }
      .byu-header .byu-header-secondary button > span {
        font-size: 17px;
        line-height: 12px; }
    .byu-header .byu-header-secondary .byu-header-user {
      display: none; }
    .byu-header .byu-header-secondary .byu-header-search {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      flex: 1; }
      .byu-header .byu-header-secondary .byu-header-search input {
        flex: 1;
        height: 35px;
        padding-left: 16px;
        box-sizing: border-box; }
      .byu-header .byu-header-secondary .byu-header-search button {
        border-left: none;
        width: 50px; }
    .byu-header .byu-header-secondary .byu-header-user .label {
      display: none; }
    .byu-header .byu-header-secondary .byu-header-user .icon {
      top: 50%;
      left: 50%;
      margin-top: -13px;
      margin-left: -13px; } }

/* PHONE SIZE */
