@import "../shared-styles/colors.scss";
@import "../shared-styles/settings.scss";

@import "../shared-styles/nav.scss";
@import "icons/transformicons.scss";
@import "mixins.scss";

/* MOBILE */
#mobileMenu {
  @include mobileMenu();
}

slot[name=actions]::slotted(*) {
  @include actions();
}

:host([mobile-view]) {
  slot[name=actions]::slotted(*) {
    @include actionsMobile();
  }
  .byu-header > div > * {
    @include headerInnerMarginMobile();
  }
}

.byu-header {
  @include headerFonts();

  & > div > * {
    @include headerInnerMargin();
  }

  button {
    @include headerButton();

    &.mobile-menu-button {
      @include headerButtonMobile();
    }
  }

  .byu-header-primary {
    background-color: $navy;
    color: #ffffff;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px;
    flex: 1;
    height: $header_height;

        .byu-header-title, #title::slotted(*) {
            white-space: nowrap;
            overflow: hidden;
            -ms-text-overflow: ellipsis;
            text-overflow: ellipsis;
            flex: 1;
            font-family: $siteNameFont !important;
            font-size: 22px;
        color: #fff;
            a {
                color: #fff;
            }}
    }

  .byu-header-user {
    button {
      background-color: transparent;
      position: relative;

      .icon {
        width: 20px;
        height: 20px;
        font-size: 20px;
        vertical-align: middle;
      }
      .label {
        font-family: $menuFont;
        font-weight: 400;
        font-size: 13px;
        text-transform: uppercase;
      }
    }
  }

  .byu-header-search {
    #search-input {
      font-family: $menuFont;
      font-weight: 400;
      font-size: 13px;
      color: $navy;

      &::-webkit-input-placeholder {
        color: $searchPlaceholderColor;
        opacity: 1;
      }
      &::-ms-input-placeholder {
        color: $searchPlaceholderColor;
        opacity: 1;
      }
      &::-moz-placeholder {
        color: $searchPlaceholderColor;
        opacity: 1;
      }
    }
  }

  .byu-logo {
    height: 48px;
    width: 92px;
  }
}

#mobileMenu {
  overflow: hidden;
}

/* FULL SIZE */

:host(:not([mobile-view])) {
  .byu-header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    &.no-nav {
      height: 48px;
    }

    .nav-expand {
      display: none;
    }

    .byu-header-secondary {
      background-color: $navy;
      color: #ffffff;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      height: $header_height;

      .byu-header-search {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;
        align-items: center;

        input {
          border: 1px solid $navy;
          border-right: none;
          height: 20px;
          padding: 4px 6px;
          flex: 1;
          width: 217px;
          box-sizing: content-box;
        }
        button {
          height: 28px;
          width: 30px;
          text-align: center;
        }
      }

      .byu-header-menu-button {
        display: none;
      }
    }
  }
}

