
lib/**/*.md
lib/**/*.txt
lib/**/*.png
lib/**/*.yml

lib/**/Makefile
lib/**/package.json
lib/**/gulpfile.js
lib/**/Gulpfile.js
lib/**/index.html
lib/**/hero.svg
lib/**/wct.conf.json
lib/**/component.json

lib/**/test/
lib/**/tests/
lib/**/demo/
lib/**/examples/
lib/**/src/
lib/**/externs/
lib/**/bin/
lib/**/doc/
lib/**/man/



