@import "byu-social-media-links-common";

//byu-social-media-links:not(:defined) > a {
byu-social-media-links:not(.byu-component-rendered) > a {
    @include socialMediaLinks();
}

//byu-social-media-links:not(:defined) > .fa {
byu-social-media-links:not(.byu-component-rendered) > .fa {
    @include socialMediaFa();
}

//byu-social-media-links:not(:defined) > .fa:hover {
byu-social-media-links:not(.byu-component-rendered) > .fa:hover {
    @include socialMediaFaHover();
}