@import "../shared-styles/colors.scss";

@mixin socialMediaLinks() {
    text-decoration: none !important;
}

@mixin socialMediaFa() {
    font-size: 32px!important;
    line-height: 28px!important;
    width: 28px!important;
    height: 28px!important;
    text-align: center!important;
    margin: 10px 15px 10px 0!important;
    cursor: pointer;
}

@mixin facebook() {
    color: #3b5998 !important;
}

@mixin twitter() {
    color: #1da1f2 !important;
}

@mixin instagram() {
    color: #231F20 !important;
}

@mixin youtube() {
    color: #cd201f !important;
}

@mixin pinterest() {
    color: #bd081c !important;
}

@mixin google-plus() {
    color: #dd4b39 !important;
}

@mixin linkedin() {
    color: #0077b5 !important;
}

@mixin rss() {
    color: #f26522 !important;
}

@mixin snapchat() {
    color: #fffc00 !important;
}
