<style>
    ${require('./style.scss')}
</style>
<!--TODO: This is a hack, and should be replaced with inline SVGs before release-->
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
      integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div class="slot-wrapper">
    <slot id="facebook" name="facebook"></slot>
    <slot id="twitter" name="twitter"></slot>
    <slot id="instagram" name="instagram"></slot>
    <slot id="youtube" name="youtube"></slot>
    <slot id="pinterest" name="pinterest"></slot>
    <slot id="google-plus" name="googleplus"></slot>
    <slot id="linkedin" name="linkedin"></slot>
    <slot id="rss" name="rss"></slot>
    <slot id="snapchat" name="snapchat"></slot>
</div>
