@import "../shared-styles/colors.scss";
@import "../shared-styles/settings.scss";

.column-title {
  font-family: $siteFooterColumnTitleFont !important;
  text-transform: uppercase !important;
  color: $navy !important;
  font-size: 14px !important;
  line-height: 17px !important;
  border-bottom: 1px solid $gray !important;
  padding-bottom: 3px !important;
  font-weight: $footerHeaderFontWeight !important;
  width: 100%;
  display: inline-block;
  max-width: $footerColumnHeaderMaxWidth;
}

@media (max-width: 1024px) {
  .column-title {
    font-size: $mobileFooterContentFontSize !important;
    padding-bottom: 2px !important;
  }
}

.header {
  width: 100%;
  margin: 0 0 8px;
}

.header ::slotted(*) {
  font-family: $footerColumnTitleFont !important;
  text-transform: uppercase !important;
  color: $navy !important;
  font-size: 14px !important;
  line-height: 17px !important;
  border-bottom: 1px solid $gray !important;
  padding-bottom: 3px !important;
  font-weight: $footerHeaderFontWeight !important;
  width: 100%;
  display: inline-block;
  max-width: $footerColumnHeaderMaxWidth;
}

.header ::slotted(br) {
  display: none;
}

.content ::slotted(*) {
  max-width: 100%;
}

.content ::slotted(:not(byu-footer-action-button)) {
  font-family: $footerContentFont !important;
  font-size: $footerContentFontSize !important;
  line-height: $footerContentLineHeight !important;
  font-weight: $footerContentFontWeight !important;
  color: $footerContentColor !important;
  display: block;
  margin: 0;
}

.content ::slotted(a) {
  text-decoration: none !important;
  outline: none !important;
  color: $royal !important;
  font-size: $footerContentFontSize;
  height: $footerLinkLineHeight;
}

.content ::slotted(p), .content ::slotted(div) {
  text-decoration: none !important;
  outline: none !important;
  font-size: $footerContentFontSize;
  min-height: $footerLinkLineHeight;
}

.content ::slotted(a:hover) {
  color: $navy !important;
}

.content > a {
  text-decoration: none !important;
  outline: none !important;
  color: $royal !important;
  font-size: $footerContentFontSize;
  height: $footerLinkLineHeight;
}

.content > div, .content > p {
  text-decoration: none !important;
  outline: none !important;
  font-size: $footerContentFontSize;
  min-height: $footerLinkLineHeight;
}

.content > a:hover {
  color: $navy !important;
}

@media (max-width: 1024px) {
  .content {
    ::slotted(:not(byu-footer-action-button)) {
      font-size: $mobileFooterContentFontSize !important;
    }

  }
  .header ::slotted(*) {
    font-size: 12px !important;
    max-width: $footerColumnHeaderMaxWidth;
  }
}

.footerActionButton {
  background-color: $hoverBlue;
  font-size: $siteFooterContentFontSize !important;
  color: $white;
  display: inline-block;
  text-align: center;
  line-height: 15px;
  padding: 10px 0.5em;
  width: auto;
  min-width: 125px;
  margin: 20px 0;
  -webkit-box-shadow: 0px 3px 5px 0px rgba(20, 20, 20, 0.35);
  -moz-box-shadow: 0px 3px 5px 0px rgba(20, 20, 20, 0.35);
  box-shadow: 0px 3px 5px 0px rgba(20, 20, 20, 0.35);
  letter-spacing: 0.5px;
}

.social-media-links {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  color: transparent !important;
  background-size: contain;
  background-repeat: no-repeat;
  background-clip: content-box;
  background-position: center;
  margin: 8px 8px 0 0 !important;
  align-items: center;
}

.social-media-links > a > img {
  height: 28px;
  width: 28px;
}
