@import "../shared-styles/colors.scss";
@import "../shared-styles/settings.scss";

@mixin footerColumn() {
    padding: 0 15px;
    box-sizing: border-box;
    float: left;
}

@mixin header() {
    width: 100%;
    margin: 0 0 8px;
}

@mixin headerSlotted() {
    font-family: $footerColumnTitleFont !important;
    text-transform: uppercase !important;
    color: $navy !important;
    font-size: 20px !important;
    border-bottom: 1px solid $gray !important;
    padding-bottom: 3px !important;
    font-weight: $footerContentFontWeight !important;
    width: 100%;
    display: inline-block;
}

@mixin contentNotButton() {
    font-family: $footerContentFont !important;
    font-size: $footerContentFontSize !important;
    font-weight: $footerContentFontWeight !important;
    color: $footerContentColor;
    display: block;
    padding: 11px 0;
}

@mixin defaultContentLink() {
    text-decoration: none !important;
    outline: none !important;
    color: $medgray !important;
    font-size: 14px;
}

@mixin defaultContentLinkHover() {
    cursor: pointer;
    color: $royal !important;
    font-size: 14px;
}

@mixin clearParagraphMargins() {
    margin: 0;
}