@import "byu-footer-column-common";

:host {
  //@include footerColumn();
  //flex-grow: 1;
}

.header {
  @include header();
}

.header ::slotted(*) {
  @include headerSlotted();
}

// This is a hack to deal with the old examples which had <br>s everywhere, which is unnecessary now.
.header ::slotted(br) {
  display: none;
}

.content ::slotted(*) {
  @include allContent();
}

.content ::slotted(:not(byu-footer-action-button)) {
  @include contentNotButton();
}

.content ::slotted(a) {
  @include defaultContentLink();
}

.content ::slotted(p), .content ::slotted(div) {
  @include defaultContentDivOrParagraph();
}

.content ::slotted(a:hover) {
  @include defaultContentLinkHover();
}

.content ::slotted(a:focus) {
  @include defaultContentLinkFocus();
}

.content > a {
  @include defaultContentLink();
}

.content > div, .content > p {
  @include defaultContentDivOrParagraph();
}

.content > a:hover {
  @include defaultContentLinkHover();
}

.content > a:focus {
  @include defaultContentLinkFocus();
}

@media (max-width: 1024px) {
  .content {
    ::slotted(:not(byu-footer-action-button)) {
      @include mobileContentNotButton();
    }
  }
  .header ::slotted(*) {
    @include mobileHeaderSlotted();
  }
}
