@use "../shared-styles/vars" as *

=footerColunmTitle
  font-family: $font-heading
  text-transform: uppercase
  color: $grey90
  font-size: 14px // Set px value to match BrightSpot
  line-height: $fontSize20
  letter-spacing: 1.5px
  padding-bottom: $spacing3
  font-weight: $font-weight-bold
  width: 100%
  display: inline-block
  margin-top: 0

=footerColumnHeader
  font-family: $font-heading
  text-transform: uppercase
  font-size: 14px // Set px value to match BrightSpot
  line-height: 24px // Set px value to match BrightSpot
  padding-bottom: $spacing1
  font-weight: $font-weight-semi-bold
  width: 100%
  display: inline-block

=baseColumnContent
  font-family: $font-text
  font-size: 14px // Set px value to match BrightSpot
  line-height: 24px // Set px value to match BrightSpot
  font-weight: $font-weight-normal
  color: $grey90
  display: block
  margin: 0

=columnContentLink
  text-decoration: none
  outline: none
  color: $royal
  font-size: 14px // Set px value to match BrightSpot
  line-height: $fontSize24
  padding: 5px 0

=columnContentNotLink
  text-decoration: none
  outline: none
  font-size: 14px // Set px value to match BrightSpot
  min-height: $fontSize24
  line-height: 24px // Set px value to match BrightSpot
