@import "byu-footer-column-common";

//byu-footer-column:not(:defined) {
byu-footer-column:not(.byu-component-rendered) {
    @include footerColumn();

    .header {
        @include header();
    }

    .header > * {
        @include headerSlotted();
    }

    .content *:not(byu-footer-action-button) {
        @include contentNotButton();
    }

    #defaultContent a {
        @include defaultContentLink();
    }

    #defaultContent a:hover {
        @include defaultContentLinkHover();
    }
}

byu-footer-column:not(.byu-component-rendered) [slot="header"] {
    @include headerSlotted();
    display: block;
}

byu-footer-column:not(.byu-component-rendered) a {
    @include contentNotButton();
    @include defaultContentLink();
}

byu-footer-column:not(.byu-component-rendered) p, byu-footer-column:not(.byu-component-rendered) div {
    @include contentNotButton();
}

byu-footer-column a {
    @include contentNotButton();
    @include defaultContentLink();
}

byu-footer-column a:hover {
    @include defaultContentLinkHover();
}

@media (max-width: 1024px) {
    byu-footer-column a {
        @include mobileContentLink();
    }
}