@import "byu-footer-column-common";

//byu-footer-column:not(:defined) {
byu-footer-column:not(.byu-component-rendered) {
    @include footerColumn();

    .header {
        @include header();
    }

    .header > * {
        @include headerSlotted();
    }

    .content *:not(byu-footer-action-button) {
        @include contentNotButton();
    }

    #defaultContent a {
        @include defaultContentLink();
    }

    #defaultContent a:hover {
        @include defaultContentLinkHover();
    }
}

byu-footer-column:not(.byu-component-rendered) [slot="header"] {
    font-family: serif;
    font-size: 20px;
    text-transform: uppercase;
    color: $navy;
    font-weight: 600;
    display: block;
}

byu-footer-column a {
    color: $footerContentColor !important;
}

byu-footer-column a:hover {
    color: $navy !important;
}