@import "../shared-styles/colors.scss";
@import "../shared-styles/settings.scss";

@mixin footerColumn() {
    padding: 0 15px;
    box-sizing: border-box;
    float: left;
}

@mixin header() {
    width: 100%;
}

@mixin headerSlotted() {
    font-family: $footerColumnTitleFont !important;
    text-transform: uppercase !important;
    color: $navy !important;
    font-size: 20px !important;
    border-bottom: 1px solid $gray !important;
    padding-bottom: 3px !important;
    white-space: nowrap !important;
    font-weight: $footerContentFontWeight !important;
    width: 100%;
    display: inline-block;
}

@mixin contentNotButton() {
    font-family: $footerContentFont !important;
    font-size: $footerContentFontSize !important;
    font-weight: $footerContentFontWeight !important;
    color: $footerContentColor !important;
    position: relative;
    top: -11px;
    line-height: 1.42857143;
}

@mixin defaultContentLink() {
    line-height: 35px;
    text-decoration: none !important;
    outline: none !important;
}

@mixin defaultContentLinkHover() {
    cursor: pointer;
    color: $navy !important;
}