@import "./mixins.scss";

:host {
    @include footerColumn();
}

.header {
    @include header();
}

.header ::slotted(*) {
    @include headerSlotted();
}

.content ::slotted(:not(byu-footer-action-button)) {
    @include contentNotButton();
}

.content ::slotted(a) {
    @include defaultContentLink();
}

.content ::slotted(a:hover) {
    @include defaultContentLinkHover();
}