<!DOCTYPE html>
<html>

<head>
    <title></title>
    <meta charset="utf-8" />
    <script src="../../bower_components/webcomponentsjs/webcomponents.js"></script>
    <script src="../byu-header/byu-header.js"></script>
    <script src="../byu-menu/byu-menu.js"></script>

    <link rel="stylesheet" href="../../bower_components/font-awesome/css/font-awesome.min.css">

    <link rel="import" href="../../bower_components/iron-demo-helpers/demo-snippet.html">
    <link type="text/css" rel="stylesheet" href="//cloud.typography.com/75214/6517752/css/fonts.css" media="all" />
    <link rel="stylesheet" rel="stylesheet" href="https://lscdn.byu.edu/Template/css/site.css">
</head>

<body>
    <byu-header>
        <span slot="title">Templates Demo Site</span>
        <byu-menu slot="nav" collapsed>
            <a href="/template/index.html">Home</a>
            <a href="/template/components/byu-header/demo.html">Top Bar</a>
            <a href="/template/components/byu-menu/demo.html">Menu</a>
            <a href="/template/components/byu-search/demo.html">Search</a>
            <a href="/template/components/byu-user-login/demo.html">User Login</a>
            <a class="selected" href="/template/components/byu-hero/demo.html">Hero</a>
        </byu-menu>
    </byu-header>
    <h1>Hero Demo</h1>
    <div style="margin-bottom: 20px">
        Coming soon!
    </div>

</body>

</html>